

.container{
  margin-top: -2%;
  width: 100%;
}

/* ENGLEBERT */

/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/
.encabezadoverde{
  position: absolute;
  z-index: 800;
  margin-top: 15%;
  width: 30%;
  margin-left: 35%;
  color: #1A7712;
  font-family: 'Englebert';
  text-align: center;
  text-shadow: 3px 3px 6px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 0.4em rgb(255, 255, 255);
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/

.poner-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

img{
  max-width: 100%;
}

.container-all{
  position: relative;
  /* max-width: 1000px; */
  width: 100%;
  /* border-radius: 6px; */
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.437);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}
.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img{
  opacity: 1;
  transform: scale(1);
}
input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
  background-color: #fff;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
  background-color: #fff;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
  background-color: #fff;
}

/* 100 divido a 3, porque son 3 imagenes */
@keyframes autoplay{
  33%{
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66%{
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100%{
    transform: translate3d(calc(-100% * 2 ), 0, 0);
  }
}





/*CONTENIDO INDEX*/

.container{
  display: flex;
  flex-direction: column;
}

/*INTRODUCCION*/
.intro{
  width: 70%;
  margin: 0 15%;
}

.column50 {
  margin-top: 5%;
  float: left;
  margin-bottom: 2.7%;
}

.sub{
  font-weight: 900;
  font-size: 18px;
}

.text{
  width: 60%;
  line-height: 1.5;
  padding: 25px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  color: #4b4b4b;
}

.imagen {
  width: 32%;
  margin-bottom: 0%;
  margin-top: 78px;
}

.imagen img{
  width: 115%;
}

/*NUESTROS AMIGOS*/
.amigos{
  width: 80%;
  margin: 0 10%;
  padding: 20px;
}

.containr{
  margin-top: 25px;
}

div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 12px 1.3%;
  min-width: 280px;
  max-width: 360px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 8px #00000069;
}

div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 280px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.item.blue {
  background-color: #1b3c5d;
}
div.item.blue i {
  color: #1b3c5d;
}
div.item.red {
  background-color: #1c9744;
}
div.item.red i {
  color: #1c9744;
}

div.item.green {
  background-color: #fbca06;
}
div.item.green i {
  color: #fbca06;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item * {
  transition: all .35s ease-in-out;
}


div.item i {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */

/* ESCRITORIO GRANDE PERO NO TANTO */
@media only screen and (min-width: 1200px) and (max-width: 1445px){

div.item {
  margin: 10px 2%;
  min-width: 330px;
  max-width: 280px;
  width: 50%;
}

div.item img {
  height: 250px;
}

}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

.text{
  padding: 25px 25px 0px 10px;
  font-size: 12px;
  width: 50%;
}

.imagen {
  width: 45%;
  margin-bottom: 0%;
  margin-top: 55px;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

 div.item {
  margin: 10px 2%;
  min-width: 180px;
  max-width: 240px;
  width: 50%;
}

div.item img {
  height: 200px;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 890px) and (max-width: 991px){
  
.text{
  padding: 0px 25px 0px 0px;
  font-size: 11px;
  width: 50%;
}

.imagen {
  width: 40%;
  margin-bottom: 0%;
  margin-top: 40px;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 0px 10px 10px 10px;
}


div.item {
  margin: 10px 2%;
  min-width: 140px;
  max-width: 220px;
  width: 50%;
}

div.item img {
  height: 170px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 889px){
  
.text{
  padding: 10px 25px 0px 0px;
  font-size: 10px;
  width: 50%;
}

.imagen {
  width: 45%;
  margin-bottom: 0%;
  margin-top: 50px;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 12px;
}

div.item {
  margin: 10px 2%;
  min-width: 100px;
  max-width: 180px;
  width: 50%;
}

div.item img {
  height: 140px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
.column50 {
  margin-top: 5%;
  float: none;
  margin-bottom: 2.5%;
}

.text{
  padding: 0px 0px 25px 0px;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #00000040;
  width: 100%;
}

.imagen {
  width: 70%;
  margin: 0 15%;
  /* margin-bottom: 0%; */
  margin-top: 30px;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 15px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 0px 10px 10px 10px;
}

div.item {
  margin: 10px 1%;
  min-width: 90px;
  max-width: 155px;
  width: 50%;
}

div.item img {
  height: 120px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Teléfonos */
@media only screen and (min-width: 350px) and (max-width: 580px){

.column50 {
  margin-top: 5%;
  float: none;
  margin-bottom: 3%;
}

.text{
  padding: 10px 10px 25px 0px;
  font-size: 10px;
  text-align: center;
  border-bottom: 1px solid #00000040;
  width: 100%;
}

.imagen {
  width: 70%;
  margin: 0 15%;
  margin-bottom: 0%;
  margin-top: 30px;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 13px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 20px 10px 10px 10px;
}

.containr{
  margin-top: 15px;
}

div.item {
  margin: 15px 1%;
  min-width: 300px;
  max-width: 305px;
  width: 45%;
}

div.item img {
  height: 225px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 349px){
.column50 {
  margin-top: 3%;
  float: none;
}
.text{
  padding: 18px 0px 20px 0px;
  font-size: 11px;
  text-align: center;
  border-bottom: 1px solid #00000040;
  width: 99%;
  margin-bottom: 0px;
}

.imagen {
  width: 80%;
  margin: 0 15%;
  margin-bottom: 0%;
  margin-top: 20px;
}

.intro{
  width: 85%;
  margin: 0 8%;
}

.sub{
  font-weight: 900;
  font-size: 12px;
}

.amigos{
  width: 85%;
  margin: 0 8%;
  padding: 5px 10px 10px 10px;
}
.containr{
  margin-top: 15px;
}

div.item {
  margin: 10px 1%;
  min-width: 250px;
  max-width: 355px;
  width: 50%;
}

div.item img {
  height: 200px;
}

div.item i {
  top: 50%;
  left: 50%;
  font-size: 34px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

#nav_slide .dots{
	width: 8px;
	height: 8px;
}

}
