

.back-gray{
  background-color: #fff;
  top: 0%;
  width: 100%;
}

.nav{
  height: 130px;
  background-color: #ececec;
}

.contenido-form{
  width: 80%;
  margin: 0 10%;
}



/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
  width: 6.5%;
  float: left;
  padding-top: 12px;
}
.logoFILC{
  float: left;
	width: 14%;
  padding: 20px 5px 5px 10px;
  margin-right: 50px;
}

.logoCam img{
	width: 100%;
}
.logoFILC img{
	width: 100%;
	margin-left: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/


.derecha{
  float: right;
  margin: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.enlace{
  color: #1A7712;font-weight: 800;margin-left: 10px;
}


.form{
  background-color: #fcf8cc;
  width: 45%;
  margin: 6% 30%;
  padding: 20px;
  border-radius: 30px;
}

form .titulo p{
  font-family: 'Englebert';
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 8px;
  text-align: center;
}


.txtbox{
  width: 86%;
  border-radius: 0px 15px 15px 0px;
  padding: 14px 15px 10px 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 14px;
}

.yellow{
  background-color: #FFF173;
  padding: 13px 10px 10px 10px;
  border-radius: 15px 0px 0px 15px;
}
.yellow i{
  color: #fff;
  font-size: 22px;
}

.btn{
  width: 80%;
  margin: 0 10%;
  background-color: #F8CD29;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
  border: none;
  font-family: 'Englebert';
  font-size: 25px;
}

.linea{
  width: 100%;
  border-top: 1px solid #F8CD29;
  padding-bottom: 30px;
}

.linea p{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
} /* */








/* VALIDACIONES */

.btn-invalid{
  background-color: #647360;
  color: #dddddd;
  font-weight: 800;
}







.checkbox{padding-left: 100px;}
.checkbox input{
  width: 10%;
  float: left;
}
.checkbox label{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

/* SNACKBAR */
.error {
  position: absolute;
  z-index: 800;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  width: 20%;
  margin: 0 39%;
  top: 9%;
  background-color: rgb(55, 55, 55);
  color: #fff;
  padding: 20px;
}


.imagen-book{
  position: absolute;
  width: 215px;
  top: 350px;
  left: -50px;
}
.imagen-book img{
  width: 100%;
}
.imagen-book-2{
  position: absolute;
  width: 120px;
  top: 100px;
  right: 0;
}

.imagen-book-2 img{
  width: 100%;
}