<div class="loader loader-41" *ngIf="loading">
  <div class="loader-container">
    <p class='loader-title-double'>CARGANDO</p>
    <p class='loader-title'>CARGANDO</p>
  </div>
</div>


  <div class="back-gray">
    <div class="nav">
      
        <div class="logoFILC">
          <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc">
        </div>
        <div class="logoCam">
          <!-- <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc"> -->
          <img src="../../../assets/img/navbar/camara-logo borde.png" alt="logotipo" class="logoCamara">
        </div>
      
        <div class="derecha">NO TIENES CUENTA?<a [routerLink]="['/auth/register']" class="enlace">REGISTRATE</a></div>
    </div>
    
  </div>

  <div class="imagen-book-2">
    <img src="../../../assets/img/books/books cut.png" alt="">
  </div>
  
  <div class="imagen-book">
    <img src="../../../assets/img/books/books.png" alt="">
  </div>
  
  <div class="form">
  
    <form [formGroup]="formulario">
    
      <div class="titulo">
        <p>Hola de nuevo!</p>
      </div>
    <div class="contenido-form">
      
      <span class="yellow"><i class="fa-sharp fa-solid fa-envelope"></i></span>
        <input
        type="text"
        class="txtbox"
        placeholder="Correo"
        formControlName="correo1"
        >
        <span *ngIf="correo1NoValido">Ingrese un correo válido</span>

        <br><br>
        <span class="yellow"><i class="fa-sharp fa-solid fa-id-card-clip"></i></span>
        <input
        type="password"
        class="txtbox"
        placeholder="Contraseña"
        formControlName="contrasenia"
        >
        <span *ngIf="contraseniaNoValido">Ingrese una contrasenia</span>
      
    </div>
    <br><br>
      <div class="row">
        <button
        type="submit"
        (click)="ingresar()"
        class="btn"
        >INGRESAR</button>
      </div>
  
    </form>
  
  </div>
  

  <div class="linea">
    <p>CÁMARA DEPARTAMENTAL DEL LIBRO DE COCHABAMBA</p>
  </div>


<!-- -->
  <h3 [ngClass]="{ 'error': propiedades.error, 'advertencia': !propiedades.error }" >
    {{ mensaje }}
  </h3> <!--Se usa asi-->