<div class="container">


  <div class="poner-flex">
    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden>
        <input type="radio" id="2" name="image-slide" hidden>
        <input type="radio" id="3" name="image-slide" hidden>
        <div class="slide">
            <div class="item-slide">
              <p class="encabezadoverde"><span class="encabezadoblack">"FERIA INTERNACIONAL</span> DEL LIBRO DE COCHABAMBA"</p>
                <img src="../../../assets/img/navbar/invitacion-01.jpg" alt="estudiante">
            </div>
            <div class="item-slide">
              <p class="encabezadoverde"><span class="encabezadoblack">"LA ESCRITURA ES LA</span> PINTURA DE LA VOZ"</p>
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="estudiante 1">
            </div>
            <div class="item-slide">
              <p class="encabezadoverde"><span class="encabezadoblack">EL VERBO LEER NO</span> SOPORTA EL IMPERATIVO</p>
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="fil 1">
            </div>
        </div>
        <div class="pagination">
            <label for="1" class="pagination-item">
                <img src="../../../assets/img/navbar/invitacion-01.jpg" alt="">
            </label>
    
            <label for="2" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="">
            </label>
    
            <label for="3" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="">
            </label>
        </div>
    </div>
</div>

  

  <div class="columnas8020">

    <div class="filtros">
      <div class="filtro-1">
        <span class="titulo">CATEGORÍAS</span>
        <br>
        <div class="lista">
          <p *ngFor="let item of readCategoria" (click)="getLibroCategoria(item.id_categoria)">{{ item.categoria }}</p>
        </div>
      </div>
        <br><br>
      <div class="filtro-2">
        <span class="titulo">FORMATO</span>
        <div class="lista">
          <p *ngFor="let item of formato" (click)="getLibroFormato(item.formato)">- {{ item.formato }}</p>
        </div>
      </div>
      <br><br>
      <div class="filtro-2">
        <span class="titulo">AUTORES</span>
        <div class="lista">
          <p *ngFor="let item of formato">- {{ item.formato }}</p>
        </div>
      </div>
    </div>

    
    <div class="derecha">

<!-- lista-book    or    tabla -->
      
      <div class="second tabla buscador filtros-categoria" *ngIf="mostrarFiltro">
        <br><br>
        <p class="buscando">FILTRO</p>

        <br>
        <div *ngIf="libros.length === 0">
          <!-- <small class="no-hay">No existen resultados para: <b class="termino">{{ termino }}</b> </small> -->
        </div>
        <div class="book" *ngFor="let item of readFiltro">
          <div class="caja">
            <div class="box">
              <img [src]="item.imagen1 + item.tipo1" alt="img-book">
              <!-- <img src="../../../assets/img/libros/book10.jpg" alt="img-book"> -->
              <!-- <b>{{ item.imagen1 + item.tipo1 }}</b> -->
            </div>
          </div>

          <div class="title">
            {{ item.titulo }}
          </div>
          <div class="subtitulo">
            <small>{{ item.subtitulo }}</small>
          </div>
          <div class="autor">
            <span><b><small>por:</small></b> {{ item.autor_nombre }} {{ item.autor_apellido }} </span>
          </div>
          <div class="descripcion">
            <p>{{ item.descripcion }}
              <br>
              <small> 
                año de publicación: {{ item.anio_publicacion }}
              </small>
            </p>
            
          </div>
          <div class="money">
            <p>{{ item.precio }} Bs</p>
          </div>
          <br>
        </div>

      </div>
      
<!-- lista-book    or    tabla -->
      <div class="second tabla buscador" *ngIf="mostrarBuscador">
        <br><br>
        <p class="buscando">Resultados de: <small> {{ termino }} </small></p>

        <br>
        <div *ngIf="libros.length === 0">
          <small class="no-hay">No existen resultados para: <b class="termino">{{ termino }}</b> </small>
        </div>
        <div class="book" *ngFor="let item of libros">
          <div class="caja">
            <div class="box">
              <img [src]="item.imagen1 + item.tipo1" alt="img-book">
              <!-- <img src="../../../assets/img/libros/book10.jpg" alt="img-book"> -->
              <!-- <b>{{ item.imagen1 + item.tipo1 }}</b> -->
            </div>
          </div>

          <div class="title">
            {{ item.titulo }}
          </div>
          <div class="subtitulo">
            <small>{{ item.subtitulo }}</small>
          </div>
          <div class="autor">
            <span><b><small>por:</small></b> {{ item.autor_nombre }} {{ item.autor_apellido }} </span>
          </div>
          <div class="descripcion">
            <p>{{ item.descripcion }}
              <br>
              <small> 
                año de publicación: {{ item.anio_publicacion }}
              </small>
            </p>
            
          </div>
          <div class="money">
            <p>{{ item.precio }} Bs</p>
          </div>
          <br>
        </div>

      </div>


<br><br><br>
<div class="titulo-border">
  <span class="title">
    <span class="resaltado">BUSCA</span>
    <span class="title-black">TU LIBRO FAVORITO</span>
  </span>
  <i class="fa-solid fa-caret-down"></i><i class="fa-solid fa-list"></i><i class="fa-solid fa-table"></i><i class="fa-solid fa-table-list"></i>  
  <span class="mosaicoLista"><i class="fa" [ngClass]= " { 'fa-caret-down': !propiedades.error, 'fa-caret-up': propiedades.error }" (click)="propiedades.error = !propiedades.error"></i></span>
</div>
      <br><br><br>

<!-- lista-book    or    tabla -->
      <div class="tabla">

        <div class="book" *ngFor="let item of readData | paginate: { itemsPerPage: 12, currentPage: pageActual }">
            <div class="caja">
              <div class="box" (click)="VerLibro(item.id_libro)">
                <img [src]="item.imagen1 + item.tipo1" alt="img-book">
                <!-- <img src="../../../assets/img/libros/book10.jpg" alt="img-book"> -->
                <!-- <b>{{ item.imagen1 + item.tipo1 }}</b> -->
              </div>
            </div>
            <div class="title">
              {{ item.titulo }}
            </div>
            <div class="subtitulo">
              <small>{{ item.subtitulo }}</small>
            </div>
            <div class="autor">
              <span><b><small>por:</small></b> {{ item.autor_nombre }} {{ item.autor_apellido }} </span>
            </div>
            <div class="descripcion">
              <p>{{ item.descripcion }}
                <br>
                <small> 
                  año de publicación: {{ item.anio_publicacion }}
                </small>
              </p>
              
            </div>
            <div class="money">
              <p>{{ item.precio }} Bs</p>
            </div>

            <button class="btn-book">Ver el libro</button>

          <br>
        </div>

      </div>


      <pagination-controls (pageChange)="pageActual = $event" class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>

    </div>


  </div>


</div>

<br><br><br>