.container{
  margin-top: 9%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
.contenido-img{margin-bottom: 33%;}



.poner-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

img{
  max-width: 100%;
}

.container-all{
  position: relative;
  /* max-width: 1000px; */
  width: 100%;
  /* border-radius: 6px; */
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.437);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}
.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img{
  opacity: 1;
  transform: scale(1);
}
input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
  background-color: #fff;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
  background-color: #fff;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
  background-color: #fff;
}

/* 100 divido a 3, porque son 3 imagenes */
@keyframes autoplay{
  33%{
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66%{
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100%{
    transform: translate3d(calc(-100% * 2 ), 0, 0);
  }
}




.columnas8020{ display: flex;}

.filtros{
  width: 16%;
  
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
}
.filtros .filtro-1 .titulo{ font-weight: 900; height: 50px; font-size: 18px;}
.lista p{ margin-bottom:5px; font-size: 12px;}


/* ENGLEBERT */


/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezadoverde{
  position: absolute;
  z-index: 800;
  margin-top: 15%;
  width: 30%;
  margin-left: 35%;
  color: #1A7712;
  font-family: 'Englebert';
  text-align: center;
  text-shadow: 3px 3px 6px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 0.4em rgb(255, 255, 255);
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
}
.encabezadoblack{
  color: #000;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/



.derecha{
  width: 80%;
  /* background-color: rgb(253, 234, 234); */
}

.buscador{
  /* background-color: #86f37c17; */
}
.filtros-categoria{
  background-color: #f7f5c829;
  padding-bottom: 15px;
}

.buscador .buscando {
  font-family: 'Englebert';
  font-size: 35px;
  border-bottom: 2px solid #fbd606;
}

.no-hay{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.termino{
  font-size: 18px;
  padding-left: 10px;
} 


.second, .tabla{
  width: 100%;
  padding-left: 25px;
}

.tabla .book .caja{
  display: flex;
  justify-content: center;
	width: 150px;
}
.tabla .book .caja .box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  /* width: 150px; */
  height: 220px;
  margin-bottom: 10px;
}

.tabla .book .caja .box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .tabla .book .caja .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.tabla .book{ width: 13%; margin-bottom: 50px; padding: 15px 25px 15px 25px; 
  border: 1px dashed #0000003e;
  border-radius: 15px;
  background-color: #fff;
  display: inline-table;
  text-align: center; 
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
.tabla .book .title {font-size: 12px; margin-bottom: 4px; font-weight: bold; }
.tabla .book .subtitulo{color: #000; font-size: 13px; }
.tabla .book .money{font-family: 'Jost', sans-serif; color: #FF0000; font-weight: bolder; }
.tabla .book .autor{ font-size: 11px; margin: 7px 0px; border: 1px solid #000; padding: 3px;}
 .tabla .book .descripcion {display: none;}
 .tabla .book .btn-book {display: none;}
.mosaicoLista{
  margin-left: 50px;
  border: 1px solid #0000003e;
  padding: 10px;
  border-radius: 7px;
  color: #fbd606;
  font-size: 25px;
}
.lista-book{
  width: 95%;
}
.lista-book .book{
  border: 2px dashed #0000003e;
  margin-bottom: 100px;
  height: 190px;
  padding: 25px 25px 15px 25px;
  border-radius: 15px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.lista-book .book .caja{
  float: left;
  margin-right: 50px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 180px;
}
.lista-book .book .caja .box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  height: 260px;
}

.lista-book .book .caja .box img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .lista-book .book .caja .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.lista-book .book .title {font-size: 20px; font-weight: 600;}
.lista-book .book .subtitulo{color: #000000;font-size: 18px; margin-bottom: 20px;}
.lista-book .book .autor span{ font-size: 13px; margin-top: 3px; border: 1px solid black; padding: 7px;}
.lista-book .book .descripcion p small{ font-size: 10px; margin-top: 3px; padding: 7px 0px; color: #000}
.lista-book .book .descripcion p{ font-size: 12px; margin: 20px 0px 10px 0px; color: #7f7f7f; padding: 0px 30px 0px 0px;}
.lista-book .book .money{font-family: 'Jost', sans-serif; color: #FF0000; font-weight: bolder; font-size: 18px;}
.lista-book .book .btn-book{color: #fff; font-weight: 600; font-size: 15px; background-color: #237b53; border: none; padding: 8px 40px; border-radius: 15px; margin: 10px 0px; }
 



/* PAGINACION */
 .my-pagination ::ng-deep .ngx-pagination .current {
  background-color: #439F41;
}

::ng-deep .ngx-pagination{
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}



/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 890px) and (max-width: 991px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 889px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (min-width: 350px) and (max-width: 580px){

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 349px){

}
