
.container{
  margin-top: 11%;
}

.contenido-img h2{
  font-family: 'Englebert';
  padding: 150px 0px 150px 0px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.184) 0%, rgba(195, 255, 0, 0.173) 100%), url(../../../assets/img/navbar/estudiante.jpg);
  background-size: 100%;
  background-position-y: top;
  margin-bottom: 50px;
}


.linea001 {
  width: 75%;
  margin: 0 12%;
}

.texto {
  margin-left: 4.2%;
}



/*======================*/
/*=======HISTORIA=======*/

.linea002{
  width: 80%;
  margin: 0 10%;
}

.img-historia{
  width: 40%;
  float: left;
  margin-left: 4%;
  margin-right: 3%;
}

.img-historia img{
  width: 100%;
}


.textoHis{
  width: 95%;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

/*================================*/
/*==========MISION VISION=========*/
/*================================*/
.contain{
  height: 225px;
  margin-top: 1%;
}

.card-1 {
  background-image: linear-gradient(to top,rgba(233, 163, 71, 0.2) 0%, rgba(228, 237, 44, 0.2) 100%), url(../../../assets/img/nosotros/Mision-y-vision.jpg);
  background-size: cover;
  height: 250px;
  width: 30%;
  float: left;

  transform: translate(-50%, -50%);
  overflow: hidden;
}
.card-mision{
  /* ESTE MARGIN LEFT alinea horizontalmente los 2 elementos */
  margin-left: 400px;
  margin-top: 18px;
}

.card-vision{
  margin-left: 70px;
  float: right;
}

.icon-card {
  transition: all 0.5s;
}

  .content-card {
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
    transform: translateY(calc(100% - 50px));
    background-color: #513b0c99;
  }

.card-titulo {
    font-family: 'PT Serif', serif;
    display: flex;
    align-items: center;
    padding: 9px 0 0 20px;
    color: #fff;
    height: 40px;
  }

  .card-descripcion {
    font-family: "Monserrat", sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: lighter;
    padding: 0 20px 20px 20px;
    transition: all 0.5s;
  }

  .content-card:hover {
    transform: translateY(0%);
  }

  .icon-card:hover {
    transform: translateY(calc(-100% - 50px));
  }

.icon{
  font-size: 50px;
  color: #fffffa;
  margin: 65px 0px 0px 185px;
}
/*================= FIN ===============*/
/*==========MISION VISION FIN==========*/
/*=============== FIN =================*/





/* ====================================================== */
/*=====================TEAM============================ */
/* ====================================================== */
.card p{
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 4px;
}
.card span{
  font-weight: 600;
  color: #FFCA00;
  font-family: 'Roboto', sans-serif;
}

.izquierda .card{
  float: left;
  padding: 40px;
  text-align: center;

}

.izquierda .card img{
  border-radius: 50%;
  border: 7px solid #FAD64C;
  padding: 4px;
  width: 70%;
  margin-bottom: 15px;
}

.izquierda{
  border-right: 4px solid #FAD64C;
  height: 450px;
  width: 30%;
  float: left;
  margin-right: 80px;
  padding-top: 50px;
  padding-right: 40px;
}

.derecha .Up .card {
  float: left;
  margin-right: 60px;
  width: 14%;
  margin-bottom: 20px;
  text-align: center;
}
.derecha .Up .card .borde img{
  width: 85%;
}

.derecha .Up .card img{
  border-radius: 50%;
  border: 7px solid #FAD64C;
  padding: 4px;
}

.derecha .Down .card {
  float: left;
  margin-right: 60px;
  width: 14%;
  text-align: center;
}

.derecha .Down .card img{
  border-radius: 50%;
  border: 7px solid #FAD64C;
  padding: 4px;
}

.team{
  margin-bottom: 51%;
  margin-top: 3%;
}













.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}

.news .card,
.news .article {
  position: relative;
}

.news {
  display: flex;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.821);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  background: rgba(1, 29, 8, 0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #fff;
  font-size: 27px;
  font-family: 'Englebert';
  letter-spacing: 0.5mm;
  margin-bottom: 0;
  font-weight: 500;
}
.news .article figcaption p{
  font-family: 'Montserrat', sans-serif;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}



/* RESPONSIVO */
/* RESPONSIVO */

  /* Escritorio grande */
  @media only screen and (min-width: 1200px) and (max-width: 1470px){

/* TEAM ---------------------------------------- */
/* --------------------------------------------- */
.izquierda{
  padding-right: 1px;
}

.linea002{
  padding-top: 90px
}

  }
  
  /* Escritorio grande */
  @media only screen and (min-width: 992px) and (max-width: 1199px){      
.container{
  margin-top: 10%;
}

.linea001 {
  width: 80%;
  margin: 0 10%;
}
  .mision-vision .texto{
    padding-top: 0px;
  }
  /* --------------------------------------------- */
  /* TEAM ---------------------------------------- */
  .izquierda .card{
    padding: 15px;
  }

  .izquierda{
    height: 360px;
    width: 25%;
    margin-right: 50px;
    padding-top: 70px;
    padding-right: 20px;
  }
  
.izquierda .card img{
  width: 80%;
}

.derecha .Up .card p, .derecha .Down .card p{
 margin-bottom: 4px;
 font-size: 13px;
}

.derecha .Up .card, .derecha .Down .card {
  margin-right: 40px;
  width: 17%;
}

.team{
  margin-bottom: 65%;
  margin-top: 5%;
}
/*------------------------- FIN TEAM-------------------- */
/*------------------------------------------------------*/

/*======================*/
/*=======HISTORIA=======*/
.img-historia{
  width: 55%;
  margin-left: 0%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.img-historia img{width: 100%;}

.textoHis{
  width: 100%;
  padding-top: 0px;
}
/* ----------------------fIN HISTORIA------------------------ */
/* ---------------------------------------------------------- */

  /*================================*/
  /*==========MISION VISION=========*/
  /*================================*/
  .wrapper{
    width: 95%;
  }
  /*================= FIN ===============*/
  /*==========MISION VISION FIN==========*/
  /*=============== FIN =================*/

  
  }
  
  /* Escritorio pequeño / tablet */
  @media only screen and (min-width: 768px) and (max-width: 991px){

.contenido-img h2{
  padding: 100px 0px 100px 0px;
  font-size: 45px;
}
    
.linea001 {
  width: 90%;
  margin: 0 5%;
}
  /* --------------------------------------------- */
  /* TEAM ---------------------------------------- */
  .team{
    margin-bottom: 65%;
    margin-top: 3%;
  }

  .izquierda .card{
    padding: 0px;
  }

  .izquierda{
    height: 320px;
    width: 28%;
    margin-right: 0px;
    padding-top: 80px;
    padding-right: 20px;
}
  .izquierda .card p{
    font-size: 14px;
  }  
  .izquierda .card span{
    font-size: 12px;
  }
  
  .izquierda .card img{
    width: 80%;
  }

  .derecha{
    width: 65%;
    float: right;
  }

.derecha .Up .card, .derecha .Down .card {
  margin: 10px 25px 20px 10px;
  width: 25%;
}

.derecha .Up .card p, .derecha .Down .card p{
  margin-bottom: 4px;
  font-size: 11px;
 }
 .derecha .Up .card span, .derecha .Down .card span{
  margin-bottom: 4px;
  font-size: 11px;
  font-weight: 500;
 }

.derecha .Down .card img{
  width: 85%;
  padding: 4px;
  border: 4px solid #FAD64C;
}

.derecha .Up .card img{
  border: 4px solid #FAD64C;
  padding: 4px;
}
/*------------------------- FIN TEAM-------------------- */
/*------------------------------------------------------*/


/*======================*/
/*=======HISTORIA=======*/


.img-historia{
  width: 55%;
  margin-left: 0%;
  margin-right: 4%;
  margin-bottom: 2%;
}

.img-historia img{width: 100%;}
.lineaH{width: 41%;}
.linea2H{width: 20%;}

.textoHis{
  width: 100%;
  padding-top: 0px;
  font-size: 13px;
}
.linea002 .texto{
  margin-left: 0px;
  margin-bottom: 2px;
}
/* ----------------------fIN HISTORIA------------------------ */
/* ---------------------------------------------------------- */

  /*==========MISION VISION=========*/
  /*================================*/
  .wrapper{
    width: 100%;
  }
  .news .article figcaption h3 {
    font-size: 20px;
  }
  .news .article figcaption p{
    font-size: 12px;
  }
  /*================= FIN ===============*/
  /*==========MISION VISION FIN==========*/

  }
  
  /* Tablets y phablets */
  @media only screen and (min-width: 576px) and (max-width: 767px){
  
    .container{
      margin-top: 12%;
    }
    
    .contenido-img h2{
      padding: 80px 0px 80px 0px;
      font-size: 35px;
      margin-bottom: 30px;
    }

    .linea001 {
      width: 90%;
      margin: 0 5%;
    }
    

    /*======================*/
    /*=======HISTORIA=======*/
    .linea002{
      width: 85%;
      margin: 0 7%;
    }
    
    .linea002 .texto {
      margin-left: 0px;
    }
    
    .img-historia{
      width: 50%;
      margin: 0% 4% 1% 1%;
    }
    
    .img-historia img{
      width: 100%;
    }
    
    .textoHis{
      width: 100%;
      padding-top: 0px;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.4;
    }
    
    /*================================*/
    /*==========MISION VISION=========*/
    /*================================*/
    .contain{
      height: 225px;
      margin-top: -15%;
    }
    
    .card-1 {
      width: 48%;
    }
    .card-mision{
      /* ESTE MARGIN LEFT alinea horizontalmente los 2 elementos */
      margin-left: 120px;
      margin-top: 18px;
      height: 200px;
    }

    .card-vision{
      margin-left: 30px;
      margin-right: -27%;
      height: 200px;
    }
    
    .card-titulo {
        font-family: 'PT Serif', serif;
        font-size: 20px;
        padding: 0 0 0 20px;
        color: #fff;
        height: 50px;
      }
    
      .card-descripcion {
        font-family: "Monserrat", sans-serif;
        font-size: 12px;
        color: #fff;
    
        padding: 0 20px 20px 20px;
        transition: all 0.5s;
      }
    
      .content-card:hover {
        transform: translateY(0%);
      }
    
      .icon-card:hover {
        transform: translateY(calc(-100% - 50px));
      }
    
    .icon{
      font-size: 50px;
      color: #fffffa;
      margin: 65px 0px 0px 185px;
    }
    /*================= FIN ===============*/
    /*==========MISION VISION FIN==========*/
    /*=============== FIN =================*/
    
    
    /* ========================================================== */
    /* =============================TEAM========================= */
    /* ========================================================== */
    
    .card p{
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 6px;
      font-size: 13px;
    }
    .card span{
      font-weight: 600;
      color: #FFCA00;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
    
    .izquierda .card{
      float: none;
      padding: 20px 40px 30px 40px;
      text-align: center;
    }

    .izquierda .card p{font-size: 21px;}
    .izquierda .card span{font-size: 18px;}
    
    .izquierda .card img{
      border-radius: 50%;
      border: 7px solid #FAD64C;
      padding: 4px;
      width: 70%;
      margin-bottom: 15px;
    }
    
    .izquierda{
      border-right: 0px solid;
      border-bottom: 4px solid #FAD64C;
      height: 390px;
      width: 70%;
      margin: 0 15%;
      float: none;
      margin-right: 80px;
      padding-top: 0px;
      padding-right: 0px;
      margin-bottom: 40px;
    }

    .derecha{
      margin-left: 50px;
    }
    
    .derecha .Up .card {
      float: left;
      margin-right: 30px;
      width: 27%;
      margin-bottom: 20px;
      text-align: center;
    }
    .derecha .Up .card .borde img{
      width: 85%;
    }
    
    .derecha .Up .card img{
      border-radius: 50%;
      border: 7px solid #FAD64C;
      padding: 4px;
    }
    
    .derecha .Down .card {
      float: left;
      margin-right: 30px;
      width: 27%;
      text-align: center;
    }
    
    .derecha .Down .card img{
      border-radius: 50%;
      border: 7px solid #FAD64C;
      padding: 4px;
      width: 85%;
    }
    
    .team{
      margin-bottom: 100%;
      margin-top: 0%;
    }

    
  }
  
  /* Teléfonos */
  @media only screen and (min-width: 400px) and (max-width: 575px){
  
    .container{
      margin-top: 18%;
    }
    
    .contenido-img h2{
      padding: 70px 0px 70px 0px;
      font-size: 28px;
      margin-bottom: 30px;
      background-size: cover;
      margin-top: 70px;
    }

    .linea001 {
      width: 90%;
      margin: 0 5%;
    }
    
    .texto {
      margin-left: 4%;
    }
    

    /*======================*/
    /*=======HISTORIA=======*/
    
    .linea002{
      width: 80%;
      margin: 0 10%;
    }
    .img-historia{
      width: 60%;
      float: left;
      margin: 0% 5% 1.2% 1%;
    }
    
    .img-historia img{
      width: 100%;
    }
    
    .textoHis{
      padding-top: 0px;
      font-size: 11px;
      line-height: 1.3;
    }
    
    /*================================*/
    /*==========MISION VISION=========*/
    /*================================*/
    .wrapper{
      width: 90%;
      margin: 0 0%;
    }
    .news {
      display: block;
    }
    .news .article{
      width: 100%;
    }
    .news .article figcaption h3 {
      font-size: 20px;
    }
    .news .article figcaption p{
      font-size: 12px;
    }
    /*================= FIN ===============*/
    /*==========MISION VISION FIN==========*/
    /*=============== FIN =================*/
    /* ========================================================== */
    /* =============================TEAM========================= */
    /* ========================================================== */
    
    .card p{
      margin-bottom: 6px;
      font-size: 12px;
    }
    .card span{
      font-weight: 600;
      color: #FFCA00;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
    
    .izquierda .card{
      float: none;
      padding: 20px 40px 30px 40px;
      text-align: center;
    }

    .izquierda .card p{font-size: 18px;}
    .izquierda .card span{font-size: 14px;}
    
    .izquierda{
      border-right: 0px solid;
      border-bottom: 3px solid #FAD64C;
      height: 280px;
      width: 70%;
      margin: 0 15%;
      float: none;
      margin-right: 80px;
      padding-top: 0px;
      padding-right: 0px;
      margin-bottom: 40px;
    }

    .derecha{
      margin-left: 50px;
    }
    
    .derecha .Up .card {
      float: left;
      margin-right: 30px;
      width: 40%;
      margin-bottom: 20px;
      text-align: center;
    }
    .derecha .Up .card .borde img{
      width: 70%;
    }
    
    .derecha .Up .card img{
      border-radius: 50%;
      border: 7px solid #FAD64C;
      padding: 4px;
    }
    
    .derecha .Down .card {
      float: right;
      margin-right: 30px;
      width: 40%;
      text-align: center;
    }
    
    .derecha .Down .card img{
      border-radius: 50%;
      border: 7px solid #FAD64C;
      padding: 4px;
      width: 70%;
    }
    
    .team{
      margin-bottom: 170%;
      margin-top: 0%;
    }

    .huascar{
      margin-bottom: 0px;
    }

    .robert{
      margin-left: -200%;
      width: 35%;
      float: left;
      margin-top: 200px;
    }

    .marily{
      margin-right: 0px;
      margin-top: 25px;
    }
  }
  
  /* Teléfonos thin */
  @media only screen and (min-width: 350px) and (max-width: 399px){

    .container{
      margin-top: 18%;
    }
    
    .contenido-img h2{
      padding: 70px 0px 70px 0px;
      font-size: 28px;
      margin-bottom: 30px;
      background-size: cover;
      margin-top: 70px;
    }
    .linea001 {
      width: 90%;
      margin: 0 5%;
    }

    /*======================*/
    /*=======HISTORIA=======*/
    
    .linea002{
      width: 80%;
      padding-top: 20px;
      margin: 0 10%;
    }

    .img-historia{
      width: 60%;
      float: left;
      margin: 0% 5% 1.2% 1%;
    }
    
    .img-historia img{
      width: 100%;
    }

    .textoHis{
      padding-top: 0px;
      font-size: 11px;
      line-height: 1.3;
    }
    
    /*================================*/
    /*==========MISION VISION=========*/
    /*================================*/
    .wrapper{
      width: 85%;
      margin: 0 0%;
    }
    .news {
      display: block;
    }
    .news .article{
      width: 100%;
    }
    .news .article figcaption h3 {
      font-size: 20px;
    }
    .news .article figcaption p{
      font-size: 12px;
    }
    /*================= FIN ===============*/
    /*==========MISION VISION FIN==========*/
    /*=============== FIN =================*/
    
    
    /* ========================================================== */
    /* =============================TEAM========================= */
    /* ========================================================== */
    
    .card p{
      margin-bottom: 3px;
      font-size: 11px;
    }
    .card span{
      font-weight: 600;
      color: #FFCA00;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
    }
    
    .izquierda .card{
      float: none;
      padding: 20px 40px 10px 40px;
      text-align: center;
    }
    .izquierda .card img{
      border-bottom: 5px solid #fbd606;
    }

    .izquierda .card p{font-size: 14px;}
    .izquierda .card span{font-size: 14px;}
    
    .izquierda{
      border-right: 0px solid;
      border-bottom: 4px solid #FAD64C;
      height: 240px;
      width: 70%;
      margin: 0 15%;
      float: none;
      margin-right: 80px;
      padding-top: 0px;
      padding-right: 0px;
      margin-bottom: 20px;
    }

    .derecha{
      margin-left: 15px;
    }
    
    .derecha .Up .card {
      float: left;
      margin-right: 30px;
      width: 40%;
      margin-bottom: 10px;
      text-align: center;
    }
    .derecha .Up .card .borde img{
      width: 70%;
    }
    
    .derecha .Up .card img{
      border-radius: 50%;
      border: 5px solid #FAD64C;
      padding: 4px;
    }
    
    .derecha .Down .card {
      float: right;
      margin-right: 30px;
      width: 40%;
      text-align: center;
    }
    
    .derecha .Down .card img{
      border-radius: 50%;
      border: 5px solid #FAD64C;
      padding: 4px;
      width: 70%;
    }
    
    .team{
      margin-bottom: 170%;
      margin-top: 0%;
    }

    .huascar{
      margin-bottom: 0px;
    }

    .robert{
      margin-left: -200%;
      width: 35%;
      float: left;
      margin-top: 180px;
    }

    .marily{
      margin-right: 0px;
      margin-top: 20px;
    }
  }

  /* Teléfonos thin */
  @media only screen and (min-width: 320px) and (max-width: 349px){

    .container{
      margin-top: 15%;
    }
    
    .contenido-img h2{
      padding: 60px 0px 60px 0px;
      font-size: 28px;
      margin-bottom: 30px;
      background-size: cover;
    }
    
    .linea001 {
      width: 90%;
      margin: 0 5%;
    }

    /*======================*/
    /*=======HISTORIA=======*/
    
    .linea002{
      width: 90%;
      padding-top: 40px;
      margin: 0 5%;
    }
    .img-historia{
      width: 60%;
      float: left;
      margin: 0% 5% 1.2% 1%;
    }
    
    .img-historia img{
      width: 100%;
    }

    
    .textoHis{
      padding-top: 0px;
      font-size: 11px;
      line-height: 1.3;
    }
    /*================================*/
    /*==========MISION VISION=========*/
    /*================================*/
    .wrapper{
      width: 90%;
      margin: 0 0%;
    }
    .news {
      display: block;
    }
    .news .article{
      width: 100%;
    }
    .news .article figcaption h3 {
      font-size: 20px;
    }
    .news .article figcaption p{
      font-size: 12px;
    }
    /*================= FIN ===============*/
    /*==========MISION VISION FIN==========*/
    /*=============== FIN =================*/


    /* ========================================================== */
    /* =============================TEAM========================= */
    /* ========================================================== */
    
    .card p{
      margin-bottom: 3px;
      font-size: 11px;
    }
    .card span{
      font-weight: 600;
      color: #FFCA00;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
    }
    
    .izquierda .card{
      float: none;
      padding: 10px 20px 15px 20px;
      text-align: center;
    }
    .izquierda .card img{
      border-bottom: 5px solid #fbd606;
    }

    .izquierda .card p{font-size: 14px;}
    .izquierda .card span{font-size: 14px;}
    
    .izquierda{
      border-right: 0px solid;
      border-bottom: 4px solid #FAD64C;
      height: 240px;
      width: 70%;
      margin: 5% 15%;
      float: none;
      margin-right: 80px;
      padding-top: 0px;
      padding-right: 0px;
      margin-bottom: 15px;
    }

    .derecha{
      margin-left: 15px;
    }
    
    .derecha .Up .card {
      float: left;
      margin-right:10px;
      width: 42%;
      margin-bottom: 20px;
      text-align: center;
    }
    .derecha .Up .card .borde img{
      width: 70%;
    }
    
    .derecha .Up .card img{
      border-radius: 50%;
      border: 5px solid #FAD64C;
      padding: 4px;
    }
    
    .derecha .Down .card {
      float: right;
      margin-right: 30px;
      width: 40%;
      text-align: center;
    }
    
    .derecha .Down .card img{
      border-radius: 50%;
      border: 5px solid #FAD64C;
      padding: 4px;
      width: 70%;
    }
    
    .team{
      margin-bottom: 170%;
      margin-top: 0%;
    }

    .huascar{
      margin-bottom: 0px;
    }

    .robert{
      margin-left: -200%;
      width: 35%;
      float: left;
      margin-top: 180px;
    }

    .marily{
      margin-right: 0px;
      margin-top: 34px;
    }
  }