<div class="container">

  <div class="poner-flex">
    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden>
        <input type="radio" id="2" name="image-slide" hidden>
        <input type="radio" id="3" name="image-slide" hidden>
        <div class="slide">
            <div class="item-slide">
                <img src="../../../assets/img/navbar/invitacion-01.jpg" alt="estudiante">
            </div>
            <div class="item-slide">
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="estudiante 1">
            </div>
            <div class="item-slide">
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="fil 1">
            </div>
        </div>
        <div class="pagination">
            <label for="1" class="pagination-item">
                <img src="../../../assets/img/navbar/invitacion-01.jpg" alt="">
            </label>
    
            <label for="2" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="">
            </label>
    
            <label for="3" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="">
            </label>
        </div>
    </div>
</div>

  <div class="libroEditorial" *ngIf="mostrar_libro">
    
    <div class="editorial-info mitad">
      
      <div class="card"> 
              <div class="back">
                
                <div class="columnaizq">
                  <img src="../../../assets/img/asociados/casaEditorialBienaventuranzas_copia.png" />
                  <br>
                  <p>{{ vendedor.nombre }}</p>
                </div>
                
                <div class="columnader">
                    <p class="name">{{ vendedor.categoria }}</p>
                    <!-- <small>Editorial</small> -->
                    <br>
                  <ul>
                    <li *ngIf="vendedor.direccion !== ''"><span class="sub"><i class="fa-solid fa-location-dot"></i></span>{{ vendedor.direccion }}</li>
                    <li *ngIf="vendedor.telefono1 !== ''"><span class="sub"><i class="fa-solid fa-phone"></i></span>{{ vendedor.telefono1 }}</li>
                    <li *ngIf="vendedor.correo1 !== ''"><span class="sub"><i class="fa-solid fa-envelope"></i></span>{{ vendedor.correo1 }}</li>
                    <li *ngIf="vendedor.pagina !== ''"><span class="sub"><i class="fa-solid fa-envelope"></i></span>{{ vendedor.pagina }}</li>
                    
                  </ul>
                </div>
                                  
              </div>
      </div>  
    </div>

    <div class="editorial-libros mitad">

      <div class="titulo-border">
        <span class="title">
          <span class="resaltado">SUS</span>
          <span class="title-black"> LIBROS:</span>
        </span>
      </div>

      <div class="book" *ngFor="let item of readLibros">
        <div class="caja">
          <div class="box" >
            <img [src]="item.imagen1 + item.tipo1" alt="img-book">
          </div>
        </div>

        <div class="title-book">
          {{ item.titulo }}
        </div>
        <div class="autor">
          <span>{{item.autor_nombre}} </span>
          <span>{{item.autor_apellido}}</span>
        </div>
        <div class="money-book">
          <p>{{item.precio}} Bs</p>
        </div>
        <br>
      </div>

    </div>

  </div>


  <!-------------- PERFILES ---------------->
  <div class="perfiles">

    <div class="titulo-border">
      <span class="title">
        <span class="resaltado">NUESTROS</span>
        <span class="title-black">ASOCIADOS</span>
      </span>
    </div>

      <div class="perfil" *ngFor="let element of readData">
        <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">

        <div class="nombre">
          <p>{{ element.nombre }}</p>
        </div>

        <button (click)="VerLibroEdi(element.id_vendedor)">+ Ver libros...</button>
        <!-- (click)="VerLibroEdi(element.id)" -->
      </div>

  </div>



</div>
