
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');


.container{
  margin-top: 9%;
  width: 100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand'); */
/* ENGLEBERT */

#i1, #i2, #i3, #i4, #i5{ display: none;}


/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
  font-weight: bold;
	text-shadow: 2px 2px 2px #fff, 0 0 10px #fff, 0 0 0.2em #fff;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
		position: relative;
  margin-bottom: 33%;
  width: 100%;
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

/* ========================================== */
/* =============== PERFILES ================= */
/* ========================================== */
.perfiles{
  width: 90%;
  margin: 20px auto;
}

.perfil{
  display: inline-table;
  width: 15%;
  margin: 30px;
}
.perfil img{
  border-radius: 50%;
  width: 100%;
}
.perfil .nombre{
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
}
.perfil button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #6A6A6A;
  font-family: 'Roboto Serif', serif;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

/* fin
PERFILES
PERFILES
PERFILES
PERFILES
   fin */
.libroEditorial{
    display: flex;
  width: 90%;
  margin: 0 auto;
}

/* ================== CARD ==================== */
/* ================== CARD ==================== */
/* ================== CARD ==================== */
.editorial-info{
  width: 25%;
  margin-right: 40px;
  margin-top: 100px;
}

.card{
  border-radius: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.171) 4px 4px 10px;
}
.back{
  padding: 40px 20px 10px 20px;
}
.columnaizq{
  border-bottom: 2px solid black;
}
.columnaizq p{
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px 20px 10px;
  font-size: 18px;
  font-weight: 600;
}

.columnaizq img{
	width: 40%;
  margin: 0 25%;
	border-radius: 100%;
	padding: 3px;
	border: 4px solid #fff;
	background-color: #000;
	outline: 4px solid #000;
}

/* DATOS DEL BACK */
.columnader{
  text-align: center;
}
.columnader .name{
	font-size: 17px;
  margin-top: 14px;
  margin-bottom: 3px;
  font-weight: bolder;
	/* color: #acacac; */
	font-family: 'Montserrat', sans-serif;
}
.columnader small {
	font-size: 15px;
  font-weight: 600;
}
ul{
	margin-top: 40px;
	text-align: left;
}
li {
  color: #000;
  list-style: none;
  font-size: 14px;
	margin-left: -25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.sub{
  font-weight: 500;
  margin-right: 10px;
}
.sub i{
  font-size: 12px;
}

/* inicio 
LIBROS EDITORIAL 
   inicio */
   .editorial-libros{
    width: 71%;
   }
  .caja{
    display: flex;
    justify-content: center;
    width: 150px;
  }
  .box{
    /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
    cursor: pointer;
    width: 200px;
    height: 220px;
    margin-bottom: 10px;
    background: rgb(189, 152, 152);
  }
  
  .box img{
    width: 100%;
    height: auto;
  }
  
  @supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .book{ width: 10%; margin-bottom: 50px; padding: 15px 25px 5px 25px; 
    border: 1px dashed #0000003e;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    display: inline-table;
    margin: 16px;
  }
  .book .title-book {text-align: center; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 17px; margin-bottom: 3px; 
  }
  .book .autor{color: #5b5b5b; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; margin-bottom: 6px; 
  }
  .book .money-book{font-family: 'Jost', sans-serif; text-align: center; color: #FF0000; font-weight: bolder; 
  }
/* fin 
LIBROS EDITORIAL  
   fin*/




   .poner-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
  }
  
  img{
    max-width: 100%;
  }
  
  .container-all{
    position: relative;
    /* max-width: 1000px; */
    width: 100%;
    /* border-radius: 6px; */
    overflow: hidden;
  }
  
  .slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  .item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  
  .pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.437);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
  }
  .pagination-item:hover {
    transform: scale(2);
  }
  
  .pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
  }
  
  .pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
  }
  input[id="1"]:checked ~ .slide {
    animation: none;
    transform: translate3d(0, 0, 0);
  }
  input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background-color: #fff;
  }
  
  input[id="2"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background-color: #fff;
  }
  
  input[id="3"]:checked ~ .slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
  input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background-color: #fff;
  }
  
  /* 100 divido a 3, porque son 3 imagenes */
  @keyframes autoplay{
    33%{
      transform: translate3d(calc(-100% * 0), 0, 0);
    }
    66%{
      transform: translate3d(calc(-100% * 1), 0, 0);
    }
    100%{
      transform: translate3d(calc(-100% * 2 ), 0, 0);
    }
  }

  



/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1460px){

  .editorial-libros{
    width: 74%;
   }

}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

.perfil{
  width: 14%;
  margin: 25px;
}
.perfil .nombre{
  font-size: 14px;
}
.perfil button{
  font-size: 12px;
}


/* CARD */
.editorial-info{
  width: 30%;
  margin-right: 40px;
}
.back{
  padding: 30px 10px 10px 10px;
}
.columnaizq p{
  padding: 7px 7px 15px 7px;
  font-size: 13px;
}
.columnader .name{
	font-size: 12px;
}
.columnader ul li{
  font-size: 11px;
}
.columnader ul{
  margin-top: 10px;
}
/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
 }
.caja{
  width: 130px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 120px;
  height: 180px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 7px;
}
.book .title-book { font-size: 13px; }
.book .autor{font-size: 12px; }
/* FIN LIBROS EDITORIAL */

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

.perfil{
  width: 16%;
  margin: 2px 13px 20px 13px;
  height: 18px;
}
.perfil .nombre{ font-size: 12px; }
.perfil button{ font-size: 11px; }

/* CARD */
.editorial-info{
  width: 35%;
  margin-right: 30px;
}
.back{ padding: 30px 10px 10px 10px; }
.columnaizq p{
  font-size: 12px;
}
.columnader .name{
	font-size: 11px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 10.5px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 15px;
}
/* FIN CARD */
  


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
 }

.caja{
  width: 86px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 90px;
  height: 130px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 5px;
}
.book .title-book {font-weight: 700; font-size: 11px;
}
.book .autor{font-size: 10px;  margin-bottom: 4px; font-weight: 500; 
}
.book .money-book{ font-size: 12px;}
/* FIN LIBROS EDITORIAL */


}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
.perfil{
  width: 18%;
  margin: 18px 18px 0px 18px;
  height: 20px;
}
.perfil .nombre{
  font-size: 11px;
}
.perfil button{
  font-size: 12px;
}

/* CARD */
.libroEditorial{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.libroEditorial{
  margin-top: 30px;
}
.editorial-info{
  width: 80%;
  margin: 0 auto;
}
.back{
  padding: 15px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 11px;
}
.columnader{
  width: 65%;
  padding: 12px;
}
.columnader .name{
	font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 11px;
  margin-bottom: 10px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 20px;
}
/* FIN CARD */



/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
 }
.caja{ width: 102px; }
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 110px;
  height: 140px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; margin: 5px; }
.book .title-book { font-size: 11px; }
.book .autor{ font-size: 10px;  margin-bottom: 3px; font-weight: 500; }
.book .money-book{ font-size: 13px; }
/* FIN LIBROS EDITORIAL */
}

/* Teléfonos */
@media only screen and (min-width: 420px) and (max-width: 575px){

.titulo-border{
  margin-left: 15px;
}
.perfiles{
  width: 100%;
}
.perfil{
  width: 19%;
  margin: 20px 10px 0px 13px;
  height: 100px;
}
.perfil .nombre{
  font-size: 9px;
}
.perfil button{
  font-size: 8px;
}

  /* CARD */
.libroEditorial{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.editorial-info{
  width: 100%;
}
.back{
  padding: 10px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 10px;
}
.columnader{
  width: 65%;
  padding: 10px;
}
.columnader .name{
	font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 10px;
  margin-bottom: 10px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 10px;
}

.columnaizq img{
  width: 45%;
  margin: 0 24%;
	padding: 2px;
	border: 4px solid #fff;
	background-color: #000;
	outline: 3px solid #000;
}
/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
  /* margin-left: -17px; */
 }
 .editorial-info{
  margin-top: 20px;
}
.caja{
  width: 62px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 100px;
  height: 90px;
}

.book{ width: 11%;  padding: 10px 10px 5px 10px; 
  margin: 0 5px;
}
.book .title-book { font-size: 9px;
}
.book .autor{ font-size: 8px;  margin-bottom: 4px; }
.book .money-book{ font-size: 10px; }
/* FIN LIBROS EDITORIAL */

}

/* Teléfonos */
@media only screen and (min-width: 370px) and (max-width: 419px){

.titulo-border{
  margin-left: 15px;
}
.perfiles{
  width: 100%;
  margin-top: 10px;
  /* background-color: #0000003e; */
}
.perfil{
  width: 25%;
  margin: 12px;
  height: 20px;
}
.perfil .nombre{ font-size: 10px; }
.perfil button{ font-size: 9px; }

/* CARD */
.libroEditorial{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.libroEditorial{
  margin-top: 30px;
}
.editorial-info{
  width: 100%;
  margin-bottom: 25px;
}
.back{
  padding: 10px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 9px;
}
.columnader{
  width: 65%;
  padding: 10px 10px 0px 10px;
}
.columnader .name{
	font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 9px;
  margin-bottom: 10px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 0px;
}

.columnaizq img{
  width: 45%;
	padding: 2px;
	border: 3px solid #fff;
	background-color: #000;
	outline: 3px solid #000;
}

/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 100%;
  /* background-color: #0000003e; */
 }
 .editorial-info{
  margin-top: -10px;
}
.caja{
  width: 75px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 100px;
  height: 110px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; margin: 7px; }
.book .title-book {font-weight: 700; font-size: 9px;
}
.book .autor{font-size: 9px;  margin-bottom: 5px; font-weight: 500; }
.book .money-book{ font-size: 10px; }
/* FIN LIBROS EDITORIAL */

}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 369px){

.titulo-border{
  margin-left: 15px;
}
.perfiles{
  width: 100%;
  margin-top: 10px;
}
.perfil{
  width: 23%;
  margin: 10px 13px 0px 17px;
  height: 100px;
}
.perfil .nombre{
  font-size: 8px;
}
.perfil button{
  font-size: 8px;
}

  /* CARD */
.libroEditorial{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.libroEditorial{ margin-top: 30px; }
.editorial-info{ width: 90%; margin: 0 auto; }

.back{
  padding: 10px 0px;
  display: flex;
}

.columnaizq {
  border-right: 2px solid black;
  border-bottom: none;
  width: 35%;
  padding: 20px 0px 0px 0px;
}
.columnaizq p{
  font-size: 7px;
}
.columnader{
  width: 60%;
  padding: 10px 10px 0px 10px;
}
.columnader .name{
	font-size: 9px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.columnader ul li{
  font-size: 8px;
  margin-bottom: 5px;
}
.columnader ul{
  margin-left: -7px;
  margin-top: 0px;
}

.columnaizq img{
  width: 45%;
	padding: 2px;
	border: 3px solid #fff;
	background-color: #000;
	outline: 3px solid #000;
}
/* FIN CARD */


/* LIBROS DE EDITORIL */
.editorial-libros{
  width: 110%;
  margin-left: -17px;
  /* background-color: #0000003e; */
 }
 .editorial-info{
  margin-top: -10px;
}
.caja{
  width: 62px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
  width: 100px;
  height: 100px;
}

.book{ width: 9%;  padding: 10px 10px 5px 10px; 
  margin: 10px;
}
.book .title-book {font-weight: 700; font-size: 9px;
}
.book .autor{font-size: 9px;  margin-bottom: 3px; font-weight: 500; 
}
.book .money-book{ font-size: 10px;}
/* FIN LIBROS EDITORIAL */

}