<div class="back-gray">

  <i class="fa-solid fa-caret-right"></i>

  <div class="img">
    <img src="../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="perfil">
  </div>

  <div class="texto">
    <p>{{ readPerfil.nombre  }}</p>
    <a [routerLink]="['/index']">Ir a Inicio</a>
  </div>

  <div class="nav">
    
      <div class="logoFILC">
        <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc">
      </div>
      <div class="logoCam">
        <!-- <img src="../../../assets/img/navbar/FILC borde.png" alt="logotipo" class="logoFilc"> -->
        <img src="../../../assets/img/navbar/camara-logo borde.png" alt="logotipo" class="logoCamara">
      </div>
    
  </div>
  
</div>

    <nav class="main-menu">

        <ul>
          <li class="foto">
              <img src="../../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">
          </li>
        <div class="white">
          <li class="has-subnav">
              <div class="nav-text" >
                {{ readPerfil.nombre }}
              </div>
          </li>

          <div class="datos-centro">
            <li class="dat dat-telefono">
                <div class="titu">
                    Teléfono:
                </div>
                <div class="conten"> 
                  {{ readPerfil.telefono1 }}
                </div>
                <!-- <div class="conten"> {{ readPerfil.telefono2 }}</div> -->
            </li>
            
            <li class="dat dat-celular">
                <div class="titu">
                    Celular:
                </div>
                <div class="conten">
                {{ readPerfil.celular1 }} - {{ readPerfil.celular2 }}
              </div>
                <!-- <div class="conten">{{ readPerfil.celular2 }}</div> -->
            </li>
            <li class="dat dat-direccion">
                <div class="titu">
                    Dirección:
                </div>
                <div class="conten">
                  {{ readPerfil.direccion }}
                </div>
            </li>
            <li class="dat dat-correo">
                <div class="titu">
                    Correo electrónico:
                </div>
                <div class="conten">
                {{ readPerfil.correo1 }}
                </div>
                <!-- <div class="conten">{{ readPerfil.correo2 }}</div> -->
            </li>
            <li class="dat dat-pagina">
                <div class="titu">
                    Página:
                </div>
                <div class="conten">
                {{ readPerfil.pagina }}
                </div>
            </li>
          </div>
            <li class="boton">
              <button  (click)="propiedades.error = !propiedades.error">EDITAR</button>
            </li>
        </div>
        </ul>


    </nav>
    
  <div class="contenido">

    <div class="titulos">
        <h3 class="izq"><span class="resaltado">TUS</span> LIBROS</h3>
        <h3 class="der">+ <span class="resaltado">AÑADIR</span> LIBRO</h3>
    </div>

    <div class="tabla" *ngIf="tabla">

      <h3 (click)="crearLibro('nuevo')">Crear Libro</h3>

      <div class="table-responsive">
        <section class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Título</th>
              <th scope="col">Autor</th>
              <th scope="col">Precio</th>
              <th scope="col">Descripción</th>
              <th scope="col">Habilita tu libro</th>
              <th scope="col">Borrar</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="informacion" *ngFor="let element of readData">
              <td class="imagen"><img [src]="element.imagen1 + element.tipo1" alt="aaa"></td>
              <td class="title">{{ element.titulo }} <br> {{ element.subtitulo }} </td>
              <td class="autor">{{ element.autor_nombre }} <br> {{ element.autor_apellido }} </td>
              <td class="precio">{{ element.precio }} Bs.</td>
              <td class="descripcion">{{ element.descripcion }}</td>
              <td class="pago">
                Habilita tu libro
                <br><br>
                <i class="fa-solid fa-eye-slash"></i>
              </td>
              <td>
                <button (click)="deleteData(element.id_libro)"><i class="fa-solid fa-trash"></i></button>
              </td>
              <td>
                <button (click)="editarData(element.id_libro)"><i class="fa-solid fa-pen"></i></button>
              </td>
            </tr>
          </tbody>
        </section>
        <br><br>
      </div>
      
    </div>

  </div>


  <div class="Pues_el_formulario" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">

    <div class="close"(click)="propiedades.error = !propiedades.error">
      <i class="fa-solid fa-circle-xmark " ></i>
    </div>
    <div class="form_wrap">
    
      <form [formGroup]="formPerfil" class="agregar-libro">

        <ul>
            <li class="foto-form">
                <img src="../../../../assets/img/editoriales/Captura de pantalla 2022-10-12 092120.jpg" alt="">
            </li>
            <li class="dat dat-nombre">
                <div class="titu">
                  Nombre:
                </div>
                  <input 
                  type="text"
                  id="fnombre"
                  placeholder="Nombre"
                  formControlName="nombre"
                  [readonly]="ReadOnly"
                  >
                  <br><br>
            </li>
            <li class="dat dat-telefono">
                <div class="titu">
                    Teléfono:
                </div>
                  <input 
                  type="text"
                  id="ftelefono"
                  placeholder="Teléfono"
                  formControlName="telefono"
                  >
                  <br>
            </li>
            <li class="dat dat-celular">
                <div class="titu">
                    Celular:
                </div>
                  <input 
                type="text"
                id="fcelular"
                placeholder="Celular"
                formControlName="celular"
                >
            </li>
            <li class="dat dat-direccion">
                <div class="titu">
                    Dirección:
                </div>
                  <input 
                type="text"
                id="fdireccion"
                placeholder="Dirección"
                formControlName="direccion"
                >
            </li>
            <li class="dat dat-correo">
                <div class="titu">
                    Correo electrónico:
                </div>
                  <input 
                type="text"
                id="fcorreo"
                placeholder="Correo"
                formControlName="correo"
                >
            </li>
            <li class="dat dat-pagina">
                <div class="titu">
                    Página:
                </div>
                  <input 
                type="text"
                id="fpagina"
                placeholder="Página"
                formControlName="pagina"
                >
            </li>
            <li class="boton">
              <br>
              <button type="submit" (click)="UpdatePerfil()">EDITAR</button>
            </li>
        </ul>

      </form>
              
      <h3 class= "snackbar" [ngClass]="{ 'error': Snack.error, 'advertencia': !Snack.error }">
        {{ mensaje }}
      </h3> <!--Se usa asi-->
    
    </div>

    
  </div>



