
.back-gray{
  width: 100%;
}

.back-gray .fa-solid{
  float: left;
  margin-top: 35px;
  margin-left: 10px;
  color: rgb(233, 233, 233);
  font-size: 40px;
}

.nav{
  height: 120px;
  background-color: #aeaeae;
}

/*-------------------LOGOS INICIO-----------------------*/
/*-----------------------------------------------------*/
.logoCam {
  width: 6%;
  float: right;
  padding-top: 9px;
}
.logoFILC{
  float: right;
	width: 12%;
  padding: 25px 0px 0px 20px;
  margin-right: 30px;
}

.logoCam img{
	width: 100%;
}
.logoFILC img{
	width: 100%;
	margin-right: 15px;
}
/*-------------------LOGOS FIN-----------------------*/
/*---------------------------------------------------*/


.img{
  position: absolute;
  width: 5%;
  margin-left: 80px;
  margin-top: 20px;
}
.img img{
  border-radius: 50%;
  width: 100%;
}
.texto{
  position: absolute;
  margin-top: 35px;
  padding-left: 180px;
}
.texto p{
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
.texto a{
  font-size: 15px;
  color: 4;
  text-decoration: none;
}



/* ==================== */
/* ===== MAIN MENU===== */
.foto img{
  width: 50%;
  border-radius: 50%;
  margin-top: 80px;
  margin-left: 80px;
  box-shadow: 0 0 10px #00000069;
}

.foto{
  /* background-image: linear-gradient(to top,rgba(10, 40, 0, 0) 0%, rgba(19, 230, 8, 0) 100%), url('../../../assets/img/perfil/Recurso6copy.png'); */
  background-size: cover;
  height: 200px;
}

.white{
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.white li{
  list-style: none;
}

.dat .titu{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
}

.datos-centro .dat{
  width: 80%;
  border-bottom: 2px solid #000;
  margin: 0 10%;
  padding-bottom: 10px;
}
.dat-telefono{height: 70px;}
.dat-celular{height: 70px;}
.dat-direccion{height: 70px;}
.dat-correo{height: 80px;}
.dat-pagina{height: 50px;}

.conten{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width: 100%;
  border-bottom: 1px dotted #000;
  right: 0px;
  padding-top: 7px;
}

.has-subnav {
  border-bottom: 2px solid #000000;
  text-align: center;
}
.has-subnav .nav-text{
  font-size: 20px;
  padding-bottom: 5px;
}


.boton button{
  margin: 8% 10%;
  background-color: #1A7712;
  width: 80%;
  border-radius: 15px;
  border: none;
  font-family: 'Englebert';
  color: #fff;
  border: none;
  font-size: 25px;
}

.main-menu ul{
  padding: 0px;
}

.main-menu {
  top: 0px;
  display: inline-table;
  /* ancho para hacerle desaparecer */
  width: 20%;
  height: 1000px;
  }

/* FINAL DEL MAIN MENU */
/* =================== */




/* ========= */
/* titulos */
.contenido{
  width: 70%;
  margin-left: 40px;
  display: inline-table;
}

.titulos h3{
  font-size: 30px;
  letter-spacing: 0.5mm;
  font-family: 'Englebert';
  margin-bottom: 30px;
}
.titulos .der{
  width: 40%;
  text-align: right;
  cursor: pointer;
  float: right;
}
.titulos .izq {
  float: left;
  width: 40%;
}
.resaltado{
  border: none;
}
/* fin titulos fin */
/* =============== */



/* ==== TABLA =====*/
/* ================ */

table{
  width: 100%;
}
th{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  border: 0.2px solid #000;
  padding: 7px;
}
td {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 6px;
  font-size: 11px;
  font-weight: 600;
  border: 0.1px solid #000;
}

/* =============== */
/* borrar y editar */
td button i{
  color: #024d1b;
  font-size: 22px;
}
td button{
  background-color: transparent;
  border: none;
  padding: 0px 30px;
}
/* borrar y editar */
/* =============== */

.informacion .imagen{ width: 11%; padding: 8px; }
.informacion .imagen img{ width: 100%; }

.precio { font-size: 14px;}

.pago i{
  font-size: 22px;
  color: #024d1b;
}
/* ===FIN TABLA ===*/
/* ================ */


/* ---------------------------------------------------------- */
/* --------------------FORMULARIO---------------------------- */
/* ---------------------------------------------------------- */

.close{
  color: #1A7712;
  position: absolute;
  z-index: 1100;
}

.close i{
  font-size: 35px;
  margin: 35px 0px 0px 940px;
  border-radius: 50%;
  background-color: #fff;
}


.err {
  /* COMENTAR ESTO PARA QUE SE MUESTRE EL FORMULARIO */
  visibility: hidden;
}

.Pues_el_formulario{
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
}


.form_wrap{
  height: 750px;
  margin: 10px auto;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  width: 35%;
  /* mantenerlo blanco */
  background-color: #ffffff;
  box-shadow: rgba(236, 183, 183, 0.067) 0px 200px 285px, rgba(68, 68, 68, 0.282) 0px -60px 800px, rgba(81, 81, 81, 0.366) -60px 5px 100px, rgba(72, 72, 72, 0.25) 30px 20px 200px, rgba(78, 78, 78, 0.475) 30px -5px 900px;
}

form.agregar-libro{
  width: 90%;
  margin: 0 5%;
  padding: 0px 20px;
}

.btn-invalid button{
  background-color: #647360;
  color: #dddddd;
  font-weight: 800;
}

.error {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  position: fixed;
  width: 20%;
  font-weight: 200;
  margin: 0 -5%;
  top: 15%;
  padding: 15px;
  background-color: rgb(55, 55, 55);
  color: #fff;
}

/* validacion */
.is-invalid{
  color: #ed0c0c;
  border: 1px solid #ed0c0c;
}
.obli{
  font-size: 17px;
  font-weight: bolder;
}
.danger-inva{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #ed0c0c;
  margin-top: -10px;
}
/* fin validacion */

/* FIN PARTE DERECHA DEL FORMULARIO */




/* EDITAR PERFIL */
.foto-form img{
  width: 40%;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 120px;
}
.agregar-libro ul li{
  list-style: none;
}
.agregar-libro ul {
  padding: 0px;
}
.agregar-libro ul li input {
  border: none;
  margin-top: 5px;
  width: 95%;
  padding: 7px;
  border-radius: 7px;
  border-bottom: 1px solid #06060642;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* FIN  */
/* EDITAR PERFIL */




/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */

  
/* Escritorio grande */
  @media only screen and (min-width: 1200px) and (max-width: 1470px){
  .close i{
    margin: 27px 0px 0px 1030px;
  }

  } 

  @media only screen and (min-width: 992px) and (max-width: 1199px){      
  .close i{
    margin: 22px 0px 0px 820px;
  }

  .form_wrap{
  width: 70%;
  }
  form.agregar-libro{
    padding: 0px 0px;
  }
  .nav{
    height: 90px;
  }
  
  }
  
/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .close i{
  font-size: 20px;
  margin: 22px 0px 0px 650px;
  }
  .form_wrap{
    height: 870px;
    width: 80%;
  }
  form.agregar-libro{
    padding: 0px 15px;
    width: 65%;
  }
  .cita_info .des {
    font-size: 11px; 
    padding: 10px 25px;
  }
  .enviar{
    width: 40%;  
    margin: 0 30%;
  }
  .enviar button{
    padding: 7px 30px;
    border-radius: 15px;
    width: 100%;
    font-size: 20px;
  }
  
  /* PARTE IZQUIERDA */
.img-perfil{width: 45%;}
.img-perfil img {
  margin: 0 50%;
  border: 5px solid #fff;
}
.cantact_info{
  width: 35%;
}
.info_title{
  margin-top: -200px;
}
.info_title h2{
  font-size: 15px;
  margin-top: 25px;
  padding: 10px 5px 10px 5px;
}
/* FIN PARTE DEL LA IZQUIERDA */

.col-5{
  width: 90%;
  margin: 3px 5%;
}





.nav{
  height: 90px;
}
.texto{
  margin-top: 25px;
  padding-left: 140px;
}
.texto p{
  font-size: 17px;
}
.texto a{
  font-size: 12px;
}
.logoCam {
  width: 8%;
  padding-top: 9px;
}
.logoFILC{
	width: 15%;
}
.img{
  width: 7%;
  margin-left: 70px;
  margin-top: 17px;
}
.back-gray .fa-solid{
  margin-top: 25px;
  margin-left: 12px;
  font-size: 40px;
}

.titulos h3{
  font-size:25px;
  margin-bottom: 25px;
}
.contenido{
  width: 90%;
  margin: 15px 5%;
}
th{
  font-size: 11px;
  border: 0.1px solid #000;
  padding: 5px;
}
td {
  font-size: 10px;
  font-weight: 500;
}

/* =============== */
/* borrar y editar */
td button i{
  font-size: 18px;
}
td button{
  padding: 0px 15px;
}
/* borrar y editar */
/* =============== */

.informacion .imagen{ width: 11%; padding: 4px; }

.precio { font-size: 12px;}

.pago i{
  font-size: 15px;
}

}
  
/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  .close i{ margin: 22px 0px 0px 500px; font-size: 18px;}
  .form_wrap{
    height: 830px;
    width: 80%;
  }
  form.agregar-libro{
    padding: 0px 10px;
    width: 65%;
  }
  .cita_info .des {
    font-size: 11px; 
    padding: 10px 20px;
  }
  .enviar{
    width: 50%;  
    margin: 0 25%;
  }
  .enviar button{
    padding: 7px 30px;
    border-radius: 15px;
    width: 100%;
    font-size: 16px;
  }
  
  /* PARTE IZQUIERDA */
.img-perfil{width: 45%;}
.img-perfil img {
  margin: 0 50%;
  padding: 4px;
  border: 4px solid #fff;
}
.cantact_info{ width: 35%;}
.info_title{ margin-top: -250px;}
.info_title h2{
  font-size: 15px;
  margin-top: 30px;
  padding: 10px 5px 10px 5px;
}
/* FIN PARTE DEL LA IZQUIERDA */

.col-5{
  width: 90%;
  margin: 1px 5%;
}






.nav{
  height: 70px;
}
.texto{
  margin-top: 20px;
  padding-left: 120px;
}
.texto p{
  font-size: 14px;
}
.texto a{
  font-size: 11px;
}
.logoCam {
  width: 8%;
  padding-top: 9px;
}
.logoFILC{
  padding-top: 18px;
	width: 15%;
}

.img{
  width: 7%;
  margin-left: 60px;
  margin-top: 15px;
}
.back-gray .fa-solid{
  margin-top: 25px;
  margin-left: 15px;
  font-size: 25px;
}

.titulos h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.contenido{
  width: 90%;
  margin: 10px 5%;
}
th{
  font-size: 10px;
}
td { font-size: 9px; font-weight: 500; }

/* =============== */
/* borrar y editar */
td button i{ font-size: 13px; }
td button{ padding: 0px 7px; }
/* borrar y editar */
/* =============== */

.informacion .imagen{ width: 11%; padding: 3px; }
.precio { font-size: 10px;}
.pago i{ font-size: 13px; }

}

/* Teléfonos thin */
@media only screen and (min-width: 400px) and (max-width: 575px){
  .close i{ margin: 22px 0px 0px 320px; font-size: 15px; }
  .form_wrap{
    height: 800px;
    width: 70%;
  }
.cantact_info{display: none;}
  form.agregar-libro{
    width: 100%;
    padding: 0px 0px;
  }
  .cita_info h1{ font-size: 12px;}
  .cita_info .des {font-size: 10px; padding: 7px 25px;}
  .txtbox{
    padding: 2px 2px 2px 4px;
    border-radius: 5px;
    font-size: 11px;
}
.txtarea{
    padding: 2px 2px 2px 6px;
    border-radius: 5px;
    font-size: 11px;
}
.select{
  padding: 2px;
  font-size: 11px;
  border-radius: 5px;
}
.selecto{
  font-size: 11px;
  padding: 2px;
  border-radius: 5px;
}
.col-5{
  width: 80%;
  margin: 1% 10%;
  text-align: left;
  margin-bottom: 5px;
}
.col-5 label{ font-size: 9px;}
.enviar{
  width: 50%;  
  margin: 0 25%;
}
.enviar button{
  padding: 7px 25px;
  border-radius: 15px;
  width: 100%;
  font-size: 17px;
}







.nav{
  height: 60px;
}
.texto{
  margin-top: 10px;
  padding-left: 80px;
}
.texto p{
  font-size: 12px;
}
.texto a{
  font-size: 10px;
}
.logoCam {
  width: 8%;
  padding-top: 9px;
}
.logoFILC{
  padding-top: 18px;
	width: 15%;
}

.img{
  width: 7%;
  margin-left: 40px;
  margin-top: 15px;
}
.back-gray .fa-solid{
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
}

.titulos h3{
  font-size: 15px;
  margin-bottom: 10px;
}
.contenido{
  width: 90%;
  margin: 10px 5%;
}
th{
  padding: 2px;
  font-size: 8px;
}
td { font-size: 7px; font-weight: 500; }

/* =============== */
/* borrar y editar */
td button i{ font-size: 12px; }
td button{ padding: 0px 3px; }
/* borrar y editar */
/* =============== */

.informacion .imagen{ width: 11%; padding: 3px; }
.precio { font-size: 9px;}
.pago i{ font-size: 11px; }
}

/* Teléfonos thin */
@media only screen and (min-width: 366px) and (max-width: 399px){
  .close i{margin: 22px 0px 0px 280px; font-size: 12px;}
  .form_wrap{
    height: 770px;
    width: 80%;
  }
.cantact_info{display: none;}
  form.agregar-libro{
    width: 100%;
    padding: 0px 0px;
  }
  .cita_info h1{ font-size: 11px;}
  .cita_info .des {font-size: 9px; padding: 7px 25px;}
  .txtbox{
    padding: 2px 2px 2px 4px;
    border-radius: 5px;
    font-size: 10px;
}
.txtarea{
    padding: 2px 2px 2px 6px;
    border-radius: 5px;
    font-size: 10px;
}
.select{
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
}
.selecto{
  font-size: 10px;
  padding: 2px;
  border-radius: 5px;
}
.col-5{
  width: 80%;
  margin: 1% 10%;
}
.col-5 label{ font-size: 9px;}
.enviar{
  width: 50%;  
  margin: 0 25%;
}
.enviar button{
  padding: 7px 25px;
  border-radius: 15px;
  width: 100%;
  font-size: 17px;
}





.nav{
  height: 60px;
}
.texto{
  margin-top: 10px;
  padding-left: 80px;
}
.texto p{
  font-size: 12px;
}
.texto a{
  font-size: 10px;
}
.logoCam {
  width: 8%;
  padding-top: 9px;
}
.logoFILC{
  padding-top: 18px;
	width: 15%;
}

.img{
  width: 7%;
  margin-left: 40px;
  margin-top: 15px;
}
.back-gray .fa-solid{
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
}

.titulos h3{
  font-size: 15px;
  margin-bottom: 10px;
}
.contenido{
  width: 90%;
  margin: 10px 5%;
}
th{
  padding: 2px;
  font-size: 8px;
}
td { font-size: 7px; font-weight: 500; }

/* =============== */
/* borrar y editar */
td button i{ font-size: 12px; }
td button{ padding: 0px 3px; }
/* borrar y editar */
/* =============== */

.informacion .imagen{ width: 11%; padding: 3px; }
.precio { font-size: 9px;}
.pago i{ font-size: 11px; }


}


/* Teléfonos thin */
@media only screen and (min-width: 320px) and (max-width: 365px){
  .close i{margin: 22px 0px 0px 260px; font-size: 13px;}
  .form_wrap{
    height: 700px;
    width: 80%;
  }
.cantact_info{display: none;}
  form.agregar-libro{
    width: 100%;
    padding: 0px 0px;
  }
  .cita_info h1{ font-size: 10px; padding-top: 10px;}
  .cita_info .des {font-size: 9px; padding: 7px 25px;}
  .txtbox{
    padding: 2px 2px 2px 4px;
    border-radius: 5px;
    font-size: 9px;
}
.txtarea{
    padding: 2px 2px 2px 6px;
    border-radius: 5px;
    font-size: 9px;
}
.select{
  padding: 2px;
  font-size: 9px;
  border-radius: 5px;
}
.selecto{
  font-size: 9px;
  padding: 2px;
  border-radius: 5px;
}
.col-5{
  width: 90%;
  margin: 1px 5%;
}
.col-5 label{ font-size: 9px;}
.enviar{
  width: 50%;  
  margin: 0 25%;
  padding-top: 5px;
}
.enviar button{
  padding: 7px 25px;
  border-radius: 15px;
  width: 100%;
  font-size: 17px;
}
.obli{
  font-size: 11px;
}




.nav{
  height: 50px;
}
.texto{
  margin-top: 8px;
  padding-left: 70px;
}
.texto p{
  font-size: 9px;
}
.texto a{
  font-size: 8px;
}
.logoCam {
  width: 10%;
  padding-top: 6px;
}
.logoFILC{
  padding-top: 12px;
	width: 20%;
  margin-right: 15px;
}

.img{
  width: 7%;
  margin-left: 40px;
  margin-top: 10px;
}
.back-gray .fa-solid{
  margin-top: 13px;
  margin-left: 15px;
  font-size: 18px;
}

.titulos h3{
  font-size: 13px;
  margin-bottom: 10px;
}
.contenido{
  width: 90%;
  margin: 10px 5%;
}
th{
  padding: 2px;
  font-size: 6px;
  font-weight: 600;
  padding: 1px;
}
td { font-size: 6px;padding: 3px; font-weight: 600; }

/* =============== */
/* borrar y editar */
td button i{ font-size: 9px; }
td button{ padding: 0px 0px; }
/* borrar y editar */
/* =============== */

.informacion .imagen{ width: 10%; padding: 3px; }
.precio { font-size: 8px;}
.pago i{ font-size: 9px; }


}