@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.container{
  margin-top: 9%;
  width: 100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand'); */
/* ENGLEBERT */

#i1, #i2, #i3, #i4, #i5{ display: none;}


/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/

.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
	font-weight: bold;
	text-shadow: 2px 2px 2px #fff, 0 0 10px #fff, 0 0 0.2em #fff;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}

/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/


.contenido-img{
	position: relative;
  margin-bottom: 33%;
	width: 100%;
	}

	.contenido-img .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.contenido-img .slide_img img{
		width: 100%;
	}

	 .prev, .next{
		width: 10%;
		position: absolute;
		top:15px; 
		background-color: #58585833;
		color:#f4f4f4e6;
		z-index: 99;
		transition: .45s;
		cursor: pointer;
    margin-top: 200px;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: #585859cc;
		color: #ffffff; 
	}

.contenido-img #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	width: 18px;
	height: 18px;
	margin: 0 4px;
  margin-top: 31%;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #b5b5b585;
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: #ffffffe6;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: #ffffffe6;}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}


/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}

.all{
  width: 90%;
  margin: 0 auto;
}

/* ================== CARD ==================== */
.card{
  width: 20%;
  float: left;
  margin-right: 170px;
  margin-bottom: 4%;
  height: 290px;
  /* background-color: #1A7712; */
}


#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    width: 400px;
    margin: 20px;
}


/* ASOCIADOS */
#name {
  width: 360px;
  margin-left: 18px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	text-transform: uppercase;
  line-height: 150%;
  color: #fff;
   vertical-align: middle;
}
.perfil {
  width: 28%;
  margin-top: 7%;
  margin-left: 35%;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 5px;
  background-color: #000;
}
.perfil img{
  width: 100%;
}


.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 100%;
    margin: 0 0%;
    /* height: 150%;*/
    /* font-family: Helvetica, Arial, sans-serif; */
    font-weight: bold;
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4); */
    border-radius: 14px;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
    background-size: cover;
    background-position-y: center;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    /* border: 5px solid #fff; */
    box-shadow: #0d0d0d75 0px 4px 10px;
  background-color: #FFF;
  width: 100%;
  padding: 10px;
  height: 250px;
}

.front {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: #000;
  height: 250px;
  /* background-image: linear-gradient(to left bottom, #16b0b0, #9bdb8a); */
}

.columnaizq{
	float: left;
	/* background-color: #1A7712; */
	border-right: 2px solid black;
	margin-top: 25px;
	height: 200px;
}
.columnaizq p{
	text-align: center;
}
.columnader{
	width: 64%;
	float: right;
	/* background-color: #FAD64C; */
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	float: left;
	border-radius: 100%;
	padding: 3px;
	border: 4px solid #fff;
	background-color: #000;
	margin: 25px;
	outline: 4px solid #000;
}
.foto p{
	margin-left: 10px;
	margin-right: 10px;
}
.foto .borde{
	padding: 10px;
	background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 14px;
	margin-bottom: 5px;
	color: #949494;
	font-family: 'Montserrat', sans-serif;
}
.columnader small {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}
.columnader{
	text-align: center;
	margin-top: 40px;
}
ul{
	margin-top: 40px;
	text-align: left;
}
li {
  color: #000;
  font-size: 13px;
	margin-left: -25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}

.sub{
  font-weight: 500;
  font-size: 17x;
  color: #000;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
}
ul li{ list-style: none; }
a{ cursor: pointer;
  color: #000;
  text-decoration: none; }

  a:hover {
  text-decoration: underline;
}


#card-container {
  /* padding-top: 25px; */
  width: 30%;
  height: 270px;
  /* margin: auto; */
  /* display: inline-block; */
    /* text-align: justify; */
}   

#card-container:hover .back {   
    -webkit-transform: rotateY(0deg);
}

#card-container:hover .front {      
    -webkit-transform: rotateY(-180deg);
}


/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 0px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 12px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
}








/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */


/* Escritorio grande */
@media only screen and (min-width: 1200px) and (max-width: 1440px){

	}
	
	/* Escritorio grande */
	@media only screen and (min-width: 992px) and (max-width: 1199px){

		.card{
			margin-right: 275px;
		}

		.D-C-san-andres{
			width: 22%;
			margin-right: 250px;
		}	
		.encabezado{
			font-size: 38px;
		}
		
		.prev, .next{
			margin-top: 140px;
		}
		.next{right:40px;}

	}
	
	/* Escritorio pequeño / tablet */
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.prev, .next{
			margin-top: 90px;
		}
		.next{right:40px;}
	
		.encabezado{font-size: 28px;}

/* ================== CARD ==================== */
.card{
  width: 45%;/*SE REDUJO - 20 */
  margin-right: 30px;
  margin-bottom: 0%;
  height: 250px;
}

#cardo {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    /* se redujo - 400 */
		width: 300px;
    margin: 10px;
}

/* ASOCIADOS */
#name {
  width: 300px;
  margin-left: 0px;
	font-size: 15px;
  line-height: 150%;
}
.perfil {
  width: 28%;
  margin-top: 10%;
  margin-left: 35%;
}

.back, .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    width: 100%;
    margin: 0 0%;
    background-size: cover;
    background-position-y: center;
  }

  .back {
  -webkit-transform: rotateY(180deg);
  height: 200px;
	}

	.front {
		padding-bottom: 25px;
		height: 200px;
	}

.columnaizq{
	margin-top: 0px;
	height: 190px;
}
.columnaizq p{
	text-align: center;
	font-size: 10px;
}
.foto p{
	margin-left: 0px;
	
	margin-right: 7px;
}
.columnader{
	width: 64%;
	float: right;
}
.columnader small{
	font-size: 12px;
}

.foto{
	width: 35%;
	margin: 0 auto;
}
.foto img{
	width: 55%;
	padding: 2px;
	border: 3px solid #fff;
	margin: 15px;
	outline: 3px solid #000;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 13px;
}

.columnader{
	margin-top: 15px;
}
ul{
	margin-top: 30px;
	padding-left: 32px;
}
li {
  font-size: 11px;
  margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 0px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 10px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
	margin-top: 25px;
}
.D-C-san-andres .back .columnader ul li{
	margin-bottom: 5px;
}

	}
	
	/* Tablets y phablets */
	@media only screen and (min-width: 576px) and (max-width: 767px){
		.prev, .next{
			margin-top: 70px;
		}
		.next{right:40px;}
	
		.encabezado{
			font-size: 22px;
			margin-left: 15%;
		}
		#nav_slide .dots{
			width: 12px;
			height: 12px;
		}


		.all{
			width: 60%;
		}

/* ================== CARD ==================== */
.card{
  width: 100%;/*SE REDUJO - 20 */
  float: none;
	/* se aumento el margin-right - 170 */
  margin-right: 0px;
  margin-bottom: 0%;
  height: 230px;
}
#card-container{
	width: 100%;
}

#cardo {
    /* se redujo - 400 */
		width: 95%;
    margin: 10px 0px;
		height: 230px;
		
}


/* ASOCIADOS */
#name {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
}
.perfil {
  width: 28%;
  margin-top: 10%;
  margin-left: 35%;
}
.back, .front {
    width: 100%;
    margin: 0 0%;
		font-size: 12px;
  }

  .back {
  width: 100%;
  padding-top: 10px;
  height: 200px;
}

.front {
  padding-bottom: 25px;
  height: 200px;
}

.columnaizq{
	margin-top: 0px;
	height: 190px;
}
.columnaizq p{
	text-align: center;
	font-size: 10px;
}
.foto p{
	margin-left: 0px;
	margin-right: 0px;
}
.columnader{
	width: 64%;
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	padding: 2px;
	border: 3px solid #fff;
	margin: 20px;
	outline: 3px solid #000;
}


/* DATOS DEL BACK */
.columnader .name{
	font-size: 13px;
	margin-bottom: 2px;
}
.columnader small {
	font-size: 11px;
}
.columnader{
	margin-top: 15px;
}
ul{
	margin-top: 30px;
	padding-left: 32px;
}
li {
  font-size: 11px;
	margin-left: -25px;
  font-weight: 500;
  margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 20px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 9px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
	margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
	margin-bottom: 5px;
}





/* TITULO */
.titulo{
  width: 50%;
  margin-top: 15px  ;
}

.title{
  letter-spacing: 0.2mm;
  font-size: 27px;
  margin-bottom: 0px;
}

.linea{
  width: 71%;
  height: 3px;
}
.linea2{
  width: 35%;
  height: 3px;
}







	}
	
	/* Teléfonos */
	@media only screen and (min-width: 430px) and (max-width: 575px){
		.prev, .next{
			margin-top: 50px;
		}
		.next{right:40px;}
		label span{
			font-size: 50pt;
		}
	
		.encabezado{
			font-size: 20px;
			margin-left: 15%;
		}
		.encab{
			margin-top: -3%;
		}
		.encabezadoverde{
		padding-top: 7px;
		}
	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}

/* ================== CARD ==================== */
.card{
  width: 40%;/*SE REDUJO - 20 */
	/* se aumento el margin-right - 170 */
  margin-right: 60px;
  margin-bottom: 0%;
  height: 250px;
}


#cardo {
    /* se redujo - 400 */
		width: 380px;
    margin: 20px;
}


/* ASOCIADOS */
#name {
  width: 380px;
  margin-left: 0px;
  font-size: 14px;
}
.perfil {
  width: 28%;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 50%;
}
.perfil img{
  width: 100%;
}


.back, .front {
    width: 100%;
    margin: 0 0%;
		font-size: 12px;
  }

  .back {
  width: 100%;
  padding-top: 10px;
  height: 200px;
}

.front {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 25px;
  height: 200px;
}

.columnaizq{
	margin-top: 6px;
	height: 190px;
}
.columnaizq p{
	font-size: 10px;
}
.foto p{
	margin-left: 0px;
	margin-right: 0px;
}
.columnader{
	width: 64%;
	float: right;
	/* background-color: #FAD64C; */
}

.foto{
	width: 35%;
}
.foto img{
	width: 55%;
	padding: 2px;
	border: 3px solid #fff;
	margin: 25px;
	outline: 3px solid #000;
}

/* DATOS DEL BACK */
.columnader .name{
	font-size: 12px;
	margin-bottom: 3px;
}
.columnader small {
	font-size: 11px;
}
.columnader{
	margin-top: 15px;
}
ul{
	margin-top: 30px;
	padding-left: 30px;
}
li {
  font-size: 11px;
	margin-left: -25px;
  font-weight: 500;
  margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
	width: 60%;
	margin-top: 20px;
	float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
	font-size: 11px;
}
.D-C-san-andres .back .columnader ul {
	padding-left: 20px;
	margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
	margin-bottom: 5px;
}


	}
	

/* Teléfono  Thin */
@media only screen and (min-width: 370px) and (max-width: 429px){
	.prev, .next{
		margin-top: 50px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

	.encabezado{
		font-size: 20px;
		margin-left: 15%;
	}
	.encab{
		margin-top: -5%;
	}
	.encabezadoverde{
	padding-top: 7px;
	}

#nav_slide .dots{
	width: 10px;
	height: 10px;
}

/* ================== CARD ==================== */
.card{
width: 100%;/*SE REDUJO - 20 */
/* se aumento el margin-right - 170 */
margin-right: 60px;
margin-bottom: 0%;
height: 250px;
}
#card-container{
	width: 100%;
}

#cardo {
	/* se redujo - 400 */
	width: 330px;
	width: 100%;
	margin: 0px;
}

/* ASOCIADOS */
#name {
width: 330px;
margin-left: 0px;
font-size: 14px;
}
.perfil {
width: 28%;
margin-top: 5%;
margin-left: 35%;
}

.back, .front {
	width: 95%;
	margin: 0 0%;
	font-size: 12px;
}

.back {
width: 95%;
padding-top: 10px;
height: 200px;
}

.front {
height: 200px;
}

.columnaizq{
margin-top: 6px;
height: 190px;
}
.columnaizq p{
font-size: 10px;
}
.foto p{
margin-left: 0px;
margin-right: 0px;
}
.columnader{
width: 64%;
}

.foto{
width: 35%;
}
.foto img{
width: 55%;
padding: 2px;
border: 3px solid #fff;
background-color: #000;
margin: 22px;
outline: 3px solid #000;
}

/* DATOS DEL BACK */
.columnader .name{
font-size: 12px;
margin-bottom: 3px;
}
.columnader small {
font-size: 11px;
}
.columnader{
margin-top: 15px;
}
ul{
margin-top: 30px;
padding-left: 30px;
}
li {
font-size: 11px;
margin-left: -25px;
margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
width: 60%;
margin-top: 20px;
float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
font-size: 11px;
}
.D-C-san-andres .back .columnader ul {
padding-left: 20px;
margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
margin-bottom: 5px;
}

}
		
		
/* Teléfono  Thin */
@media only screen and (min-width: 320px) and (max-width: 369px){

	.prev, .next{
		margin-top: 30px;
	}
	.next{right:40px;}
	label span{
		font-size: 50pt;
	}

	.encabezado{
		font-size: 20px;
		margin-left: 15%;
	}
	.encab{
		margin-top: -3%;
	}
	.encabezadoverde{
	padding-top: 7px;
	}

#nav_slide .dots{
	width: 8px;
	height: 8px;
}

/* ================== CARD ==================== */
.card{
width: 40%;/*SE REDUJO - 20 */
float: left;
/* se aumento el margin-right - 170 */
margin-right: 60px;
margin-bottom: 0%;
height: 250px;
}


#cardo {
	/* se redujo - 400 */
	width: 260px;
	margin: 5px;
}


/* ASOCIADOS */
#name {
width: 260px;
margin-left: 0px;
font-size: 13px;
}
.perfil {
width: 28%;
margin-top: 12%;
margin-left: 35%;
border-radius: 50%;
border: 3px solid #fff;
padding: 5px;
}

.back, .front {
	width: 100%;
	margin: 0 0%;
}

.back {
width: 100%;
padding-top: 10px;
height: 200px;
}

.front {
padding: 10px;
padding-top: 0px;
padding-bottom: 25px;
height: 200px;
}

.columnaizq{
border-right: 2px solid black;
margin-top: 0px;
height: 200px;
}
.columnaizq p{
font-size: 9px;
}
.foto p{
margin-left: 0px;
margin-right: 0px;
}
.columnader{
width: 64%;
}

.foto{
width: 35%;
}
.foto img{
width: 55%;
float: none;
border-radius: 100%;
padding: 2px;
border: 3px solid #fff;
background-color: #000;
margin: 15px;
outline: 3px solid #000;
}

.foto .borde{
padding: 10px;
background-color: #1A7712;
}

/* DATOS DEL BACK */
.columnader .name{
font-size: 11px;
margin-bottom:2px;
}
.columnader small {
font-size: 9px;
}
.columnader{
margin-top: 15px;
}
ul{
margin-top: 30px;
padding-left: 30px;
}
li {
font-size: 10px;
margin-left: -25px;
margin-bottom: 12px;
}

/* ARREGLANDO UNA TARJETA */
.D-C-san-andres .back .columnader{
width: 60%;
margin-top: 20px;
float: right;
}

.D-C-san-andres .back .columnader .correoDCSA{
font-size: 9px;
}
.D-C-san-andres .back .columnader ul {
padding-left: 20px;
margin-top: 15px;
}
.D-C-san-andres .back .columnader ul li{
margin-bottom: 5px;
}

}