
<div class="container">

  <div class="contenido-img">

    <input type="radio" id="i1" name="images" checked />
    <input type="radio" id="i2" name="images" />
    <input type="radio" id="i3" name="images" />
    <input type="radio" id="i4" name="images" />
    <input type="radio" id="i5" name="images" />

    <div class="slide_img" id="one">

      <img src="./../../../assets/img/navbar/invitacion-01.jpg">
      <div class="encab">
          <p class="encabezado">"LA ESCRITURA ES LA</p>
          <p class="encabezado encabezadoverde">PINTURA DE LA VOZ"</p>
      </div>
        <label class="prev" for="i5"><span>&#x2039;</span></label>
        <label class="next" for="i2"><span>&#x203a;</span></label>

    </div>

    <div class="slide_img" id="two">

      <img src="../../../assets/img/navbar/estudiante.jpg" >

        <label class="prev" for="i1"><span>&#x2039;</span></label>
        <label class="next" for="i3"><span>&#x203a;</span></label>

    </div>


    <div class="slide_img" id="three">
      <img src="./../../../assets/img/navbar/estudiantes 1.jpg">

        <label class="prev" for="i2"><span>&#x2039;</span></label>
        <label class="next" for="i4"><span>&#x203a;</span></label>
    </div>

    <div class="slide_img" id="four">
      <img src="../../../assets/img/navbar/estudiante.jpg">

        <label class="prev" for="i3"><span>&#x2039;</span></label>
        <label class="next" for="i5"><span>&#x203a;</span></label>
    </div>

    <div class="slide_img" id="five">
      <img src="./../../../assets/img/navbar/estudiantes 1.jpg">

        <label class="prev" for="i4"><span>&#x2039;</span></label>
        <label class="next" for="i1"><span>&#x203a;</span></label>

    </div>

    <div id="nav_slide">
    <label for="i1" class="dots" id="dot1"></label>
    <label for="i2" class="dots" id="dot2"></label>
    <label for="i3" class="dots" id="dot3"></label>
    <label for="i4" class="dots" id="dot4"></label>
    <label for="i5" class="dots" id="dot5"></label>
    </div>

  </div>

<br><br>

<div class="contenedor">
  

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <ul >
    
      <li class="eventos" *ngFor="let item of readData">
          <span class="title">
            <span class="resaltado"></span>
            {{ item.titulo }} <i class="fa" [ngClass]= " { 'fa-caret-down': !propiedades.error, 'fa-caret-up': propiedades.error }" (click)="propiedades.error = !propiedades.error"></i>

          </span>
        <!-- </button> -->
        <div class="informacion" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }" >
          <div class="descripcion">
            <p>
              {{ item.descripcion }}
            </p>
          </div>
          <section class="imagenes">

                <a [href]="item.imagen1 + item.tipo1" download> 

                  <div class="descargar">
                    <span class="i">
                      <i class="fa-solid fa-download"></i>
                    </span> 

                    <span class="span">
                      Descargar
                    </span>
                  </div>

                </a>
          </section>
        </div>
      </li>

  </ul>

  </div>
</div>