

.container{
  width: 100%;
}

.centro{
  width: 80%;
  margin: 0 10%;
}

.titulo button{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  border: none;
  background-color: #c2b5a3;
  font-weight: bolder;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
}

.titulo button:hover{
  background-color: #e5dcc7;
}

.subtitulo{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

/* TABLA */
/* TABLA */
/* TABLA */
/* TABLA */

table{
  /* background-color: ; */
  width: 100%;
}
th{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: 0.2px solid #a76201;
  padding: 10px;
  /* background-color: #fff; */
}
td {
  text-align: center;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: 0.1px solid #a76201;
  /* background-color: #fff; */
}
.informacion .imagen{ width: 15%; padding: 15px; }
.informacion .imagen img{ width: 100%; }

.resaltado{
  color: #FAD64C;
}

.precio { font-size: 15px;}



/* FORMULARIO */
/* FORMULARIO */
/* FORMULARIO */
/* FORMULARIO */
/* FORMULARIO */


.Pues_el_formulario{
  position: absolute;
  z-index: 2000;
  height: 1000px;
  width: 100%;
  top: 10%;
}


.form_wrap{
  height: 800px;
  margin: 0px auto;
  display: flex;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  padding: 30px;
  width: 50%;
  /* mantenerlo blanco */
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 25%) 0px 200px 285px, rgb(0 0 0 / 12%) 0px -60px 800px, rgb(0 0 0 / 15%) -60px 5px 100px, rgb(0 0 0 / 25%) 30px 20px 200px, rgb(0 0 0 / 9%) 30px -5px 900px;

}

form{width: 100%;}

.danger {
  /* Por defecto tiene este */
  /* background-color: #00000090; */
}

.err {
  /* COMENTAR ESTO PARA QUE SE MUESTRE EL FORMULARIO */
  visibility: hidden;
}

form .row .lbl{
  text-align: center;
  font-size: 22px;}
form .row input, textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;}
form .row{
  text-align: center;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 12px;
  width: 50%;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.btn{
  text-align: center;
  padding: 11px 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.img{
  height: 110px;
  float: left;
  margin-left: 40px;
}

.img-com{
  height: 100%;
}

.borrarImg{
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  margin-left: 50px;
}
.fila-img{
  height: 150px;
  border-bottom: 1px solid #000;padding-top: 20px;
}