/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,600&display=swap');


*{
  margin: 0px;
}

.titulo-border{
  margin-top: 15px;
  margin-bottom: 18px;
}

.titulo-border .title{
  font-family: 'Englebert';
  letter-spacing: 0.5mm;
  font-size: 45px;
  font-weight: 600;
  border-bottom: 4px solid #FAD64C;
}

.resaltado{
  border-bottom: 7px solid #FAD64C;
  margin-right: 7px;
  color: #FAD64C;
}


	@media only screen and (min-width: 992px) and (max-width: 1199px){
    .titulo-border .title {
      font-size: 30px;
    }
	}
	
	@media only screen and (min-width: 768px) and (max-width: 991px){
    .titulo-border .title {
      font-size: 25px;
    }

	}
	
	@media only screen and (min-width: 576px) and (max-width: 767px){
    .titulo-border .title {
      font-size: 25px;
    }
	}
	
	@media only screen and (min-width: 350px) and (max-width: 575px){
    .titulo-border .title {
      font-size: 25px;
    }

	}
  	
	@media only screen and (min-width: 320px) and (max-width: 349px){
    .titulo-border .title {
      font-size: 22px;
    }
	}
	