/**
 * Footer Styles
 */


 .site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 390px; 
  color: #fff;
}
.site-footer {
  background: #474747;
}

.container{
  width: 70%;
  margin: 0 15%;
}

.column1{
  margin-right: 50px;
}

.column33{
  width: 30%;
  padding-top: 25px;
  float: left;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

.titulo{
  font-size: 20px;
  margin-bottom: 15px;
}

/* ========================================== */
/* ================= ICONOS ================= */
/* ========================================== */
.icono i{
  color: #fff;
  float: left;
  border: 3px solid #fff;
  margin: 15px 15px 0px 0px;
}

.facebook i{ padding: 10px 17px 10px 17px; font-size: 22px;}
.instagram i{ padding: 10px 12px 10px 12px; font-size: 22px; font-weight: 500;}
.youtube i{ padding: 10px; font-size: 22px;}
.tiktok i{ padding: 10px; font-size: 22px;}


/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */

@media only screen and (min-width: 1200px) and (max-width: 1440px){
  
 .site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 380px; 
  margin-top: 5%;
  /* Borrar este margin-top */
}

.container{
  width: 80%;
  margin: 0 10%;
}

.column1{
  margin-right: 80px;
}

.column33{
  width: 30%;
  padding-top: 35px;
}

.icono i{
  color: #fff;
  float: left;
  border: 3px solid #fff;
  margin: 15px 15px 0px 0px;
}
.facebook i{ padding: 10px 17px 10px 17px; font-size: 22px;}
.instagram i{ padding: 10px 12px 10px 12px; font-size: 22px;}
.youtube i{ padding: 10px; font-size: 22px;}
.tiktok i{ padding: 10px; font-size: 22px;}


}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
  
 .site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 420px;
  font-size: 15px;
  margin-top: 5%;
  /* Borrar este margin-top */
}

.container{
  width: 80%;
  margin: 0 10%;
}

.column33{
  padding-top: 50px;
  margin-right: 15px;
}

.column1{
  margin-right: 40px;
}


.titulo{
  font-size: 18px;
}

.facebook i{ padding: 8px 12px 8px 12px; font-size: 18px;}
.instagram i{ padding: 8px 12px 8px 12px; font-size: 18px;}
.youtube i{ padding: 8px; font-size: 18px;}
.tiktok i{ padding: 8px; font-size: 18px;}

.direccion{
  margin-top: -15px;
}

  }
  
/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 330px;
    font-size: 12px;
    margin-top: 0%;
    /* Borrar este margin-top */
  }

  .site-footer{

  }
  
  .container{
    width: 90%;
    margin: 0 5%;
  }
  
  .column33{
    padding-top: 100px;
    margin-right: 15px;
    margin-top: -10%;
  }
  
  .column1{
    margin-right: 30px;
  }
  
  
  .titulo{
    font-size: 18px;
  }
  
  .facebook i{ padding: 6px 10px 6px 10px; font-size: 15px;}
  .instagram i{ padding: 6px 10px 6px 10px; font-size: 15px;}
  .youtube i{ padding: 6px; font-size: 15px;}
  .tiktok i{ padding: 6px; font-size: 15px;}
  
  .direccion{
    margin-top: -15px;
  }
      
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  
.site-footer, .page-wrap:after {
/* .push must be the same height as footer */
height: 320px;
font-size: 11px;
width: 100%;
margin-top: 0%;
/* Borrar este margin-top */
}

.container{
width: 90%;
margin: 0 5%;
}

.column33{
padding-top: 50px;
margin-right: 2px;
}

.medio{
margin-left: 18px;
}

.medio .titulo{
font-size: 15px;
}
.column1{
margin-right: 5px;
}


.titulo{
font-size: 14px;
}

.facebook i{ padding: 11px 15px 11px 15px; font-size: 18px;}
.instagram i{ padding: 11px 15px 11px 15px; font-size: 18px;}
.youtube i{ padding: 11px; font-size: 18px;}
.tiktok i{ padding: 11px 15px 11px 15px; font-size: 18px;}

.direccion{
margin-top: -15px;
}

}

/* Teléfonos */
@media only screen and (min-width: 370px) and (max-width: 575px){

.site-footer, .page-wrap:after {
/* .push must be the same height as footer */
height: 550px; 
font-size: 12px;
color: #fff;
margin-top: 5%;
}
.site-footer {
background: #474747;
}

.container{
width: 90%;
margin: 0 10%;
}

.column1{
margin-right: 0px;
}

.medio{
padding-bottom: 60px;
}

.column33{
width: 80%;
padding-top: 40px;
margin: 0px;
float: none;
line-height: 1.5;
font-family: 'Montserrat', sans-serif;
}

.titulo{
font-size: 14px;
margin-bottom: 7px;
}

.direccion{
margin-top: -5%;
}


.icono i{
color: #fff;
float: left;
border: 3px solid #fff;
margin: 15px 15px 0px 0px;
}

.facebook i{ padding: 10px 14px 10px 14px; font-size: 18px;}
.instagram i{ padding: 10px 12px 10px 12px; font-size: 18px;}
.youtube i{ padding: 10px; font-size: 18px;}
.tiktok i{ padding: 10px; font-size: 18px;}





}

/* Teléfonos */
@media only screen and (min-width: 320px) and (max-width: 369px){

  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 570px; 
    font-size: 12px;
    color: #fff;
    margin-top: 5%;
  }
  .site-footer {
    background: #474747;
    height: 620px;
  }
  
  .container{
    width: 90%;
    margin: 0 10%;
  }
  
  .column1{
    margin-right: 0px;
  }
  
  .medio{
    padding-bottom: 60px;
  }
  
  .column33{
    width: 80%;
    padding-top: 40px;
    margin: 0px;
    float: none;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
  }
  
  .titulo{
    font-size: 14px;
    margin-bottom: 7px;
  }
  
  .direccion{
    margin-top: -5%;
  }
  
  
  .icono i{
    color: #fff;
    float: left;
    border: 3px solid #fff;
    margin: 15px 15px 0px 0px;
  }
  
  .facebook i{ padding: 10px 14px 10px 14px; font-size: 15px;}
  .instagram i{ padding: 10px 12px 10px 12px; font-size: 15px;}
  .youtube i{ padding: 10px; font-size: 15px;}
  .tiktok i{ padding: 10px; font-size: 15px;}
  
  
  
  
  
    }
    