
<div class="container">

  <div class="centro">
    <br><br>
    <h2 class="titulo"  (click)="propiedades.error = !propiedades.error"><button>añada su evento</button></h2>
    <!-- <img src="../../../../assets/img/eventos/defdc3251a26785b981d605bcf42af30.jpg" alt="" width="50px"> -->
    <!-- <img src="../../../../assets/img/eventos/99-994651_gong-yoo-gong-yoo-wallpaper-desktop.jpg.jpeg" alt="" width="100px"> -->
    
    <h3 class="subtitulo">Lista de los eventos</h3>

    <div class="tabla" >
      <div class="table-responsive" >
        <section class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr class="informacion"  *ngFor="let item of readData;">
              <td class="title"> {{item.titulo}} </td>
              <td class="autor"> {{item.descripcion}} </td>
              <td class="precio">  <img [src]="item.imagen1 + item.tipo1" alt="img1" height="150px"> </td>
              <td><button (click)="deleteData(item.id_addEvent)"><i class="fa-solid fa-trash"></i></button></td>
            </tr>
          </tbody>
        </section>
        <br><br>
      </div>
      
    </div>

  </div>
  
</div>


<div class="Pues_el_formulario"  [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }">
      
  <div class="form_wrap">
    <form [formGroup]="formulario">

      <span>Añade un evento</span>
      <div class="close">
        <i class="fa-solid fa-circle-xmark " (click)="propiedades.error = !propiedades.error" ></i>
      </div>

      <div class="row">
          <label for="ftitulo" class="lbl">Titulo</label>
          <br>
          <input
          type="text"
          id="ftitulo"
          class="txtbox"
          placeholder="Titulo del Evento"
          formControlName="titulo"
          >
      </div>

      <br><br>
  
      <div class="row">
          <label for="fdescripcion" class="lbl">Descripción:</label>
          <br>
          <textarea
          type="text"
          id="fdescripcion"
          class="txtbox"
          placeholder="Descripción (opcional)"
          formControlName="descripcion"
          ></textarea>
      </div>

      <br><br>

      <div class="row">
          <label for="fimagenes" class="lbl">Imagenes</label>
          <br>
          <img [src]="url" width="150px" title="Profile Picture">
          <br><br>
          <label for="fimagenes" class="custom-file-upload">Custom Upload</label>
          <input
          type="file"
          #fileInput
          class="imgbox"
          accept="image/*"
          (change)="onSelect($event)"
          id="fimagenes"
          placeholder="Imagenes"
          formControlName="imagenes"
          multiple  
          >
      </div>
      <br><br>

      <div class="row">
        <button
        class="btn"
        (click)="guardar()"
        [disabled]="!formulario.valid">Guardar</button>
      </div>
    </form>
  </div>

</div>