
.container{
  margin-top: 9%;
  width: 100%;
}

/*-------------------ENCABEZADO INICIO-----------------------*/
/*---------------------------------------------------------*/
.encabezado{
  position: absolute;
  font-size: 48px;
  font-family: 'Englebert';
  margin-top: -12%;
  margin-left: 10%;
	font-weight: bold;
	text-shadow: 2px 2px 2px #fff, 0 0 10px #fff, 0 0 0.2em #fff;
}

.encabezadoverde{
  position: absolute;
  margin-top: -8%;
  color: #1A7712;
}
/*-------------------ENCABEZADO FIN-----------------------*/
/*------------------------------------------------------*/



/*CONTENIDO INDEX*/
.container{
  display: flex;
  flex-direction: column;
}
.contenedor {
	width: 80%;
	margin: 0px 10%;
}

ul{
	list-style: none;
	text-align: center;
	padding: 0px;
}

.descripcion{
	width: 50%;
	margin: 0 25%;
	margin-top: 3%;
}
.descripcion p{
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}
.titulo-border .title{
	letter-spacing: 0.1mm;
}
.titulo-border .title .fa{
	font-size: 25px;
	/* color: #FAD64C; */
}

.err {
	display: none;
}

/* IMAGENES */
.imagenes{ padding: 10px 0px; }
.book{
	width: 13%; padding: 10px 15px 10px 15px; 
  border: 1px dashed #0000003e;
  border-radius: 15px;
  display: inline-table;
  margin: 10px;
}
.caja{
  display: flex;
  justify-content: center;
	width: 180px;
}
.box{
  /* Ajustar el ancho de la imagen al contenedor, se puede borrar o dejarlo */
	cursor: pointer;
  width: 270px;
  height: 240px;
  margin-bottom: 10px;
  background: rgb(189, 152, 152);
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.poner-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}

img{ max-width: 100%; }

.container-all{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.437);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}
.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img{
  opacity: 1;
  transform: scale(1);
}
input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
  background-color: #fff;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
  background-color: #fff;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
  background-color: #fff;
}

/* 100 divido a 3, porque son 3 imagenes */
@keyframes autoplay{
  33%{
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66%{
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100%{
    transform: translate3d(calc(-100% * 2 ), 0, 0);
  }
}



/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */
/* RESPONSIVO */

	/* Escritorio grande */
	@media only screen and (min-width: 1200px) and (max-width: 1440px){
	.titulo-border .title .fa{
		font-size: 28px;
		/* color: #FAD64C; */
	}
		
	.imagenes{ width: 100%; }
	.caja{ width: 170px; }
	.box{	height: 210px; }

}
	
	/* Escritorio grande */
	@media only screen and (min-width: 992px) and (max-width: 1199px){
.descripcion p{
	font-size: 12px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.imagenes{ width: 100%; }
.caja{ width: 130px; }
.box{	height: 170px; }
	}
	
	/* Escritorio pequeño / tablet */
	@media only screen and (min-width: 768px) and (max-width: 991px){

.descripcion{
	width: 70%;
	margin: 5px auto;
}
.descripcion p{
	font-size: 11px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.book{
	width: 9%; 
}
.caja{
	width: 115px;
}
.box{
  width: 300px;
  height: 160px;
}
.titulo-border .title .fa{
	font-size: 20px;
}
	
	}
	
	/* Tablets y phablets */
	@media only screen and (min-width: 576px) and (max-width: 767px){

.descripcion{
	width: 80%;
	margin: 10px auto;
}
.descripcion p{ font-size: 11px; }
.eventos{ margin-bottom: 100px; }

.contenedor {
	width: 90%;
	margin: 0 5%;
}

.imagenes{ width: 100%; }
.caja{ width: 170px; }
.box{	height: 210px; }

.titulo-border .title .fa{
	font-size: 18px;
}
}
	
	/* Teléfonos */
	@media only screen and (min-width: 320px) and (max-width: 575px){
	
.descripcion{
width: 80%;
margin: 10px auto;
}
.descripcion p{
font-size: 9px;
}

.eventos{
margin-bottom: 8px;
}
.imagenes{
	padding: 0px;
}

.contenedor {
	width: 90%;
	margin: 0 5%;
}
.book{
	width: 10%; 
	padding: 9px;
}
.caja{ width: 100px; }
.box{
  width: 280px;
  height: 120px;
}

.titulo-border .title i{
	font-size: 20px;
}

.titulo-border .title{
	font-size: 19px;
	letter-spacing: 0.1mm;
}
	
	}
	