
<div class="container">

<div class="poner-flex">
    <div class="container-all">
        <input type="radio" id="1" name="image-slide" hidden>
        <input type="radio" id="2" name="image-slide" hidden>
        <input type="radio" id="3" name="image-slide" hidden>
        <div class="slide">
            <div class="item-slide">
                <img src="../../../assets/img/navbar/invitacion-01.jpg" alt="estudiante">
            </div>
            <div class="item-slide">
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="estudiante 1">
            </div>
            <div class="item-slide">
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="fil 1">
            </div>
        </div>
        <div class="pagination">
            <label for="1" class="pagination-item">
                <img src="../../../assets/img/navbar/invitacion-01.jpg" alt="">
            </label>
    
            <label for="2" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiantes.jpg" alt="">
            </label>
    
            <label for="3" class="pagination-item">
                <img src="../../../assets/img/navbar/estudiante.jpg" alt="">
            </label>
        </div>
    </div>
</div>

<br>

<div class="contenedor">
  
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <ul *ngFor="let item of readData">
      
        <li class="eventos" >

            <div class="titulo-border">
              <span class="title">
                {{ item.titulo }}
                <i class="fa" [ngClass]= " { 'fa-caret-down': !propiedades.error, 'fa-caret-up': propiedades.error }" (click)="propiedades.error = !propiedades.error"></i>
              </span>
            </div>


          <!-- </button> -->
          <div class="informacion" [ngClass]="{ 'danger': propiedades.error, 'err': !propiedades.error }" >
            <div class="descripcion">
              <p>
                {{ item.descripcion }}
              </p>
            </div>

            <section class="imagenes">

              <div class="book">
                <div class="caja">
                  <div class="box">
                    <img #asImage [src]="item.imagen1 + item.tipo1" alt="Cargando imagen..." class="margin">
                  </div>
                </div>
              </div>
              <div class="book">
                <div class="caja">
                  <div class="box">
                    <img #asImage src="../../../assets/img/eventos/0cc416948caea239114c30d546669048.jpg.jpeg" alt="Cargando imagen..." class="margin">
                  </div>
                </div>
              </div>
              <div class="book">
                <div class="caja">
                  <div class="box">
                    <img #asImage src="../../../assets/img/eventos/20220908_195655.jpg" alt="Cargando imagen..." class="margin">
                  </div>
                </div>
              </div>
              <div class="book">
                <div class="caja">
                  <div class="box">
                    <img #asImage src="../../../assets/img/eventos/20220908_224009.jpg" alt="Cargando imagen..." class="margin">
                  </div>
                </div>
              </div>
              <div class="book">
                <div class="caja">
                  <div class="box">
                    <img #asImage src="../../../assets/img/eventos/20220908_224009.jpg" alt="Cargando imagen..." class="margin">
                  </div>
                </div>
              </div>


            </section>
          </div>
        </li>

    </ul>
    <br>

  </div>
</div>